.page-desc {
  background-color: #ecf5ff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;;

  h1 {
    color: #003366;
    font-weight: bold;
    font-size: 37px;
  }
}

.notification {
  border: none;
  padding: 3px 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 12px;
}

.urgent {
  background-color: #d93e45;
  color: #ffffff;
}
.information {
  background-color: #96c0e6;
  color: #333333;
}

.notification-date {
  font-weight: normal;
  float: right;
  padding: 3px 10px;
  margin: 4px 2px;
}

.notification-level-container {
  float: left;
}
