NAMESPACE_PREFIX=<openshift namespace>
ENV=<openshift namespace env>
APP_NAME=<app name>
TAG=<image stream tag to deploy from>
RUNTIME_ENVIRONMENT=<ASP.Net core environment: development|staging|production>
ISSUER_URI=<issuer url to configure oauth server to use>
BASE_PATH=<path uri to adjust server endpoints relative urls, must start with />
BCSC_CLIENT_ID=<BCSC client id>
BCSC_CLIENT_ID=<BCSC client secret>
BCSC_METADATA_ADDRESS=<BCSC OIDC metadata url>