<mat-toolbar color="accent" class="top-nav">
  <div>
    <a mat-flat-button color="accent" routerLinkActive="active" [routerLink]="'/dashboard'"> Dashboard </a>
    <a mat-flat-button color="accent" routerLinkActive="active" [routerLink]="'/cases'"> Clinic DMERs </a>
    <a mat-flat-button color="accent" routerLinkActive="active" [routerLink]="'/notifications'"> Notifications </a>
    <a mat-flat-button color="accent" routerLinkActive="active" [routerLink]="'/users'"> User Management </a>
  </div>
</mat-toolbar>