<div class="top-nav">
<div class="container">
<mat-toolbar class="top-nav">
  <div>
    <a routerLinkActive="active" [routerLink]="'/dashboard'"> Dashboard </a>
    <a routerLinkActive="active" [routerLink]="'/cases'"> Clinic DMERs </a>
<!--
    <a routerLinkActive="active" [routerLink]="'/notifications'"> Notifications </a>
    <a routerLinkActive="active" [routerLink]="'/users'"> User Management </a>

    -->

    <a routerLinkActive="active" > Notifications </a>
    <a routerLinkActive="active" > User Management </a>

  </div>
</mat-toolbar>
</div>
</div>
