div.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 350px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  .divTable.paleBlueRows .divTableCell, .divTable.paleBlueRows .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  .divTable.paleBlueRows .divTableBody .divTableCell {
    font-size: 13px;
  }
  .divTable.paleBlueRows .divTableRow:nth-child(even) {
    background: #D0E4F5;
  }
  .divTable.paleBlueRows .divTableHeading {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
  }
  .divTable.paleBlueRows .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  .divTable.paleBlueRows .divTableHeading .divTableHead:first-child {
    border-left: none;
  }

  .paleBlueRows .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
  }
  .paleBlueRows .tableFootStyle {
    font-size: 14px;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}
