<div>
  <mat-card>
    <mat-card-content class="driver-details">
      <div>
        <label>First Name</label>
        <div>
          <b>Harry</b>
        </div>
      </div>
      <div>
        <label>SUR</label>
        <div>
          <b>Minto</b>
        </div>
      </div>
      <div>
        <label>Driver’s License Number</label>
        <div>
          <b>123444</b>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="top-nav">
  <div class="container">
    <mat-toolbar class="top-nav">
      <div style="display: flex; justify-content: space-between; width: 100%">
        <div>
          <a routerLinkActive="active">Driver Cases</a>
          <a routerLinkActive="active">Letters to Driver</a>
          <a routerLinkActive="active">Submission History</a>
          <a routerLinkActive="active">Comments</a>
          <a routerLinkActive="active" routerLink="/assistDriver">
            Assist Driver
          </a>
        </div>
        <div></div>
      </div>
    </mat-toolbar>
  </div>
</div>
<div class="container" style="padding-top: 24px">
  <div class="list">
    <h2>Most Recent Case</h2>
    <div>
      <app-recent-case></app-recent-case>
    </div>
  </div>

  <div class="list">
    <h2>Definitions</h2>
    <div class="accordion-btn-container">
      <a class="accordion-btn show-btn" (click)="accordion.openAll()">
        Expand All
      </a>
      <span class="accordion-bar">&nbsp;|&nbsp;</span>
      <a class="accordion-btn hide-btn" (click)="accordion.closeAll()">
        Collapse All
      </a>
    </div>
    <div>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">Case type</mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-type></app-case-type>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Case Status
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-status></app-case-status>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">DMER type</mat-panel-title>
          </mat-expansion-panel-header>
          <app-medical-dmer-types></app-medical-dmer-types>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Decision outcome
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-decision-outcome></app-decision-outcome>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Eligible License Class
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-eligible-license-class></app-eligible-license-class>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
