<div>
  <mat-card class="driver-details-card">
    <mat-card-content class="driver-details">
      <div>
        <label>First Name</label>
        <div>
          <b>{{driverDetails.firstName}}</b>
        </div>
      </div>
      <div>
        <label>SUR</label>
        <div>
          <b>{{driverDetails.lastName}}</b>
        </div>
      </div>
      <div>
        <label>Driver’s License Number</label>
        <div>
          <b>{{driverDetails.driverLicenseNumber}}</b>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Driver Details">
      <app-driver-details></app-driver-details>
    </mat-tab>
    <mat-tab label="DMF Case Details">
      <div class="container" style="padding-top: 24px">
        <div class="list">
          <h2>Most Recent Case</h2>
          <div>
            <app-shared-recent-case [caseManagementService]="caseManagementService"
              [portal]="PortalsEnum.PartnerPortal"></app-shared-recent-case>
          </div>
        </div>

        <div class="list topPadding">
          <h2>Closed Cases</h2>

          <div>
            <mat-card *ngFor="let closedCase of closedCaseDetails" [ngClass]="{
                open: closedCase.caseId && isExpanded[closedCase.caseId],
              }">
              <mat-card-content class="closedCaseContent">
                <div style="text-align: center">
                  <mat-icon (click)="toggleIsExpandable(closedCase.caseId)" class="expandedIcon">
                    expand_circle_down
                  </mat-icon>
                </div>
                <div style="display: flex; flex-direction: column">
                  <div class="case-details-border">&nbsp;</div>
                  <div>&nbsp;</div>
                </div>
                <div style="flex: 1">
                  <div class="caseDetailRow">
                    <div style="flex: 1;">
                      <label>Created Date</label>
                      <div>
                        <b>{{ closedCase?.openedDate | date: "longDate" }}</b>
                      </div>
                    </div>

                    <div style="flex: 1;">
                      <label>Case Id</label>
                      <div>
                        <b>{{ closedCase?.idCode }}</b>
                      </div>
                    </div>

                    <div style="flex: 1;">
                      <label>Case Type</label>
                      <div>
                        <b>{{ closedCase?.caseType }}</b>
                      </div>
                    </div>

                    <div style="flex: 1;">
                      <label>Decision Outcome</label>
                      <div>
                        <b>{{ closedCase?.latestDecision }}</b>
                      </div>
                    </div>
                  </div>

                  <div class="caseDetailRow caseBorder" *ngIf="closedCase.caseId && isExpanded?.[closedCase.caseId]">
                    <div style="flex: 1;">
                      <label> Decision date </label>
                      <div>
                        <b>{{ closedCase?.decisionDate | date: "longDate" }}</b>
                      </div>
                    </div>
                    <div style="flex: 1;">
                      <label>Eligible License Class</label>
                      <div>
                        <b>{{ closedCase?.decisionForClass }}</b>
                      </div>
                    </div>
                    <div style="flex: 1;">
                      <label></label>
                    </div>
                    <div style="flex: 1;">
                      <label></label>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="!isLoading && closedCaseDetails?.length === 0">
            <mat-card>
              <mat-card-content>
                <b>No Closed Cases found</b>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="numberOfItems" *ngIf="closedCaseDetails && closedCaseDetails.length > 0">
          Showing {{ closedCaseDetails.length }} of
          {{ closedCaseDetails.length }} records
        </div>
        <div class="list">
          <h2>Definitions</h2>
          <div class="accordion-btn-container">
            <a class="accordion-btn show-btn" (click)="accordion.openAll()">
              Expand All
            </a>
            <span class="accordion-bar">&nbsp;|&nbsp;</span>
            <a class="accordion-btn hide-btn" (click)="accordion.closeAll()">
              Collapse All
            </a>
          </div>
          <div>
            <mat-accordion multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="panel-header">
                  <mat-panel-title class="accordian-Title">Case type</mat-panel-title>
                </mat-expansion-panel-header>
                <app-case-type></app-case-type>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="panel-header">
                  <mat-panel-title class="accordian-Title">
                    Case Status
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-case-status></app-case-status>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="panel-header">
                  <mat-panel-title class="accordian-Title">DMER type</mat-panel-title>
                </mat-expansion-panel-header>
                <app-medical-dmer-types></app-medical-dmer-types>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="panel-header">
                  <mat-panel-title class="accordian-Title">
                    Decision outcome
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-decision-outcome></app-decision-outcome>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="panel-header">
                  <mat-panel-title class="accordian-Title">
                    Eligible License Class
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-eligible-license-class></app-eligible-license-class>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Remedial Case Details">
      <app-remedial-case-details> </app-remedial-case-details>
    </mat-tab>
    <mat-tab label="Rehab Interlock">
      <app-rehab-interlock></app-rehab-interlock>
    </mat-tab>
    <mat-tab label="Letters to Driver">
      <app-letters-to-driver></app-letters-to-driver>
    </mat-tab>
    <mat-tab label="Submission History">
      <app-submission-history></app-submission-history>
    </mat-tab>

    <mat-tab label="Assist Driver">
      <app-get-assistance></app-get-assistance>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- Comments button -->

<div class="comment">
  <button mat-button class="commentsButton" (click)="openCommentsDialog()"><mat-icon
      class="matIcon">edit_document</mat-icon> Comments </button>
</div>