<div>
  <mat-card>
    <mat-card-content class="driver-details">
      <div>
        <label>First Name</label>
        <div>
          <b>Harry</b>
        </div>
      </div>
      <div>
        <label>SUR</label>
        <div>
          <b>Minto</b>
        </div>
      </div>
      <div>
        <label>Driver’s License Number</label>
        <div>
          <b>123444</b>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="top-nav">
  <div class="container">
    <mat-toolbar class="top-nav">
      <div style="display: flex; justify-content: space-between; width: 100%">
        <div>
          <a routerLinkActive="active">Driver Cases</a>
          <a routerLinkActive="active">Letters to Driver</a>
          <a routerLinkActive="active">Submission History</a>
          <a routerLinkActive="active">Comments</a>
          <a routerLinkActive="active">Assist Driver</a>
        </div>
        <div></div>
      </div>
    </mat-toolbar>
  </div>
</div>
<div class="container" style="padding-top: 24px">
  <div class="list">
    <h2>Most Recent Case</h2>
  </div>

  <div class="list">
    <h2>Definitions</h2>
  </div>
</div>
