.driver-details{
    display: flex;
    justify-content: space-evenly;
    line-height: 24px;
  }

.nav-bar-items{
  display: flex; 
  justify-content: space-between;
   width: 100%
}

.topPadding{
  padding-top: 32px;
}

.mat-tab-header{
  background-color: rgba(236, 245, 255, 1) !important;
  border: none;
  color: #313132;
  width: 100%;
}

.commentsButton {
  border-width: 0px;
  width: 220px;
  height: 70px;
  font-family: "BC Sans Bold", "BC Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
  color: #003366 !important;
  background-color: #f1f1f3;
  text-decoration: underline;
}

.comment{
position: absolute;
right: -70px;
bottom: 450px;
rotate: 90deg;
z-index: 999;
}

.matIcon{
  color: #003366;
  transform: scale(1);
}

.caseDetailRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 150px;
    line-height: 32px;
    padding-bottom: 24px;
  }
  
.closedCaseContent {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  
.case-details-border {
    border-left: 2px solid #808080;
    height: 45%;
  }
  
.mat-mdc-card {
    border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 32px;
    margin-bottom: 24px;
  
  .mat-mdc-card-header {
      padding-top: 12px;
  
      .mat-mdc-card-header-text {
        vertical-align: middle;
      }
    }
  }
  
  .driver-details-card {
    margin-top: 0px; 
    margin-bottom: 0px
  }

  .recentCase {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .expandedIcon {
    transform: scale(1.5);
    color: #003366;
  }
  
  .open {
    background-color: #f1f1f3;
    border: 1px solid #003366;
    cursor: pointer;
  }
  
  .caseBorder{ 
    border-top: 2px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 896px) {
    /* For mobile phones: */
  
    .recentCase {
      display: block;
    }
  
    .closedCaseContent {
      flex-direction: column-reverse;
    }
  
    .caseDetailRow {
      gap: 80px;
    }
  
    .case-details-border {
      border-left: none;
      border-top: 4px solid #808080;
      height: 8px;
    }


   
  }
  