.padding-top{
    padding-top: 32px;
    padding-bottom: 32px;
}

.mat-mdc-button-base.remedialButton {
    border-width: 0px;
    width: 264px;
    height: 50px;
    font-family: "BC Sans Bold", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
    color: #f2f2f2;
    background-color: #003366;
    cursor: pointer;
    --mdc-filled-button-label-text-color: #f2f2f2;
    --mdc-filled-button-container-color: #003366;
  }