.vs
**/node_modules/
# environment variables for docker-compose
*.env
# Global VS files and folders
**/.vscode/
**/obj/
**/bin/
**/.angular/
# Openshift parameter files
**/openshift/templates/*.params
# Angular local environment files
**/environment.local.ts
/landing-page/src/html/.idea
/.idea
./medical-portal\src\UI\medical-portal\proxy.conf.json
/migration-metrics/src/DATA.db
/migration-metrics/src/DATA.db-shm
/migration-metrics/src/DATA.db-wal
/oauth-server/src/OAuthServer/Data/IdentityServer.db-shm
/oauth-server/src/OAuthServer/Data/IdentityServer.db-wal
/medical-portal/docs/.$CHEFS-Integration.drawio.dtmp
*.bkp

*.dtmp
/pidp-adapter/src/PidpAdapter.Service/logs
/medical-portal/src/PidpAdpater.API/logs
/medical-portal/src/OneHealthAdapter/logs

# Mac
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
/AngularApp1
/shared-portal-library
