.vs
**/node_modules/
# environment variables for docker-compose
*.env
# Openshift parameter files
**/openshift/templates/*.params
# Angular local environment files
**/environment.local.ts
/landing-page/src/html/.idea
/.idea
./medical-portal\src\UI\medical-portal\proxy.conf.json
/migration-metrics/src/ClientApp/.angular/cache/15.1.6
/migration-metrics/src/DATA.db
/migration-metrics/src/DATA.db-shm
/migration-metrics/src/DATA.db-wal
/system-status/src/ClientApp/.angular/cache/15.1.6
/migration-metrics/src/ClientApp/.angular/cache/16.2.0
/migration-metrics/src/ClientApp/.angular/cache/17.0.8
/system-status/src/ClientApp/.angular/cache/17.0.8
