.footer {
  width: 100%;
  height: 60px;
  padding: 0, 15px;
  display: flex;
  flex-flow: row;

  p {
    margin: 0 10px;
  }
}

.navbar-footer {
  background-color: #003366;  
  text-align: center;
}

div.c1 {
  width: 90%;

}

div.c1 li.c2 a {
  color: #fff;
}

div.c1 li {
  color: #fff;
  padding: 10px;
}

