<div class="definationCard">
  Listed below are the various submissions statuses.
  <div class="definationContent">
    <ul>
      <li>
        <b>Open Required – </b>RSBC has requested for a doucment and waiting for
        submission
      </li>
      <li>
        <b>Received – </b>RSBC has received this document and it is under review
      </li>

      <li><b>Rejected – </b>Submitted document has been rejected by RSBC.</li>
      <li>
        <b>Non-comply – </b>Requested document was not submitted by the
        submittal deadline
      </li>
    </ul>
  </div>
</div>
