@use '~@angular/material' as mat;
@import "./_theme.scss";

//app specific styles
.page-divider {
  background-color: rgba(231, 184, 85, 1);
  height: 6px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.primary {
  background-color: mat.get-color-from-palette($theme-primary, default);
  color: mat.get-color-from-palette($theme-primary, default-contrast);
}

.secondary {
  background-color: mat.get-color-from-palette($theme-accent, default);
  color: mat.get-color-from-palette($theme-accent, default-contrast);
}

.mat-card {
  background-color: #f7f7f7;
}

.mat-table {
  width: 100%;
  padding: 5px 10px !important;
  .mat-header-row {
    background-color: #376579;

    .mat-header-cell {
      color: #ffffff;
      font-size: larger;
    }
  }

  .mat-row:nth-child(odd) {
    background-color: #ffffff;
  }

  .mat-row:nth-child(even) {
    background-color: #e0e0e0;
  }
}
