@use '~@angular/material' as mat;
@import "./_theme.scss";

//app specific styles

body {
  margin: 0;
}
.page-divider {
  background-color: rgba(231, 184, 85, 1);
  height: 6px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.primary {
  background-color: mat.get-color-from-palette($theme-primary, default);
  color: mat.get-color-from-palette($theme-primary, default-contrast);
}

.secondary {
  background-color: mat.get-color-from-palette($theme-accent, default);
  color: mat.get-color-from-palette($theme-accent, default-contrast);
}

.mat-card {
  background-color: #f7f7f7;
  box-shadow: none !important;
  margin: 30px 0;
  padding: 0 !important;

  .mat-card-header {
    width: auto;
    height: 50px;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: center;
  }

  .mat-card-title {
    margin: 0 !important;
    height: 100%;
  }
  .mat-card-content {
    padding: 5px 10px;
  }
}

.mat-table {
  width: 100%;
  .mat-header-row {
    background-color: #376579;

    .mat-header-cell {
      color: #ffffff;
      font-size: larger;
    }
  }

  .mat-row:nth-child(odd) {
    background-color: #ffffff;
  }

  .mat-row:nth-child(even) {
    background-color: #e0e0e0;
  }
}
