<p-table [value]="config.data">
  <ng-template pTemplate="header">
    <tr>
      <th>College</th>
      <th>Status</th>
      <th>Status Code</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{ rowData.identifierType }}</td>
      <td>
        <span *ngIf="rowData.statusCode === 'MOA'">
          <p-tag
            icon="pi pi-info-circle"
            [value]="rowData.statusCode"
            [severity]="'info'"></p-tag>
        </span>
        <span *ngIf="rowData.statusCode !== 'MOA'">
          <p-tag
            icon="pi pi-check"
            [value]="rowData.statusCode"
            [severity]="'success'"></p-tag
        ></span>
      </td>
      <td>{{ rowData.statusReasonCode }}</td>
    </tr>
  </ng-template>
</p-table>
