<div class="container">
  <div class="list">
    <div class="submissions">
      <div>
        <p>
          The Document History tab displays the documents and reports that RSBC has received regarding your case. Unfortunately, you cannot download a copy of these submissions.
        </p>
        <p>
          Please note that if your medical practitioner or you have sent a document through fax, it might take a while for it to appear in the Document History tab from the Submission Requirements tab.
        </p>
        <p>
          Find out more about <a> how to resubmit a document</a> as well as if and <a> how to request a copy of a submission.</a></p>
      </div>
      <div>
        <app-quick-links></app-quick-links>
      </div>
    </div>
  </div>

  <div class="list">
    <div>
      <mat-card>
        <mat-card-content class="caseSubmissions">
          <div style="text-align: center">
            <mat-icon class="expandedIcon"> expand_circle_down </mat-icon>
          </div>
          <div style="display: flex; flex-direction: column">
            <div class="case-details-border">&nbsp;</div>
            <div>&nbsp;</div>
          </div>
          <div style="flex: 1">
            <div class="caseDetailRow">
              <div>
                <label>Submission Type</label>
                <div>
                  <b>Medical Report</b>
                </div>
              </div>
              <div>
                <label>Submission Status</label>
                <div>
                  <b>Received</b>
                </div>
              </div>
              <div>
                <label>Submission Date</label>
                <div>
                  <b>May 1, 2019</b>
                </div>
              </div>
            </div>
            <div class="caseDetailRow">
              <div>
                <label>Case Id</label>
                <div>
                  <b>CAJ7777</b>
                </div>
              </div>
              <div>
                <label>Created Date</label>
                <div>
                  <b>April 12, 2019</b>
                </div>
              </div>
              <div>
                <label>Description</label>
                <div>
                  <b>jkhkjhkjhefkjhafkj</b>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
