<div class="definationCard">
  Find below the various case types.
  <div class="definationContent">
    <ul>
      <li>
        <b>Driver's Medical Examination Report –</b> Cases opened because a
        Driver's Medical Examination Report was issued.
      </li>
      <li>
        <b>Reported Medical Condition - </b>Cases opened due to receiving a
        high-priority medical report.
      </li>
      <li>
        <b>Police Report –</b> Cases opened due to receiving a police report
        related to medical fitness to drive.
      </li>
      <li>
        <b>Unsolicited Report - </b> Cases opened due to receiving a report from
        a member of the public raising road safety concerns.
      </li>
      <li>
        <b>Other - </b> Cases opened due to receiving other documents not noted
        above
      </li>
      <li><b>RSBC - </b>Cases manually created/opened by RoadSafetyBC staff</li>
      <li><b>Legacy - </b> Legacy cases migrated from the old legacy system</li>
    </ul>
  </div>
</div>
