<div class="container">
  <div *ngIf="!isCreateProfile">
    <div class="list">
      <h2>My Account</h2>
      <div class="myAccount">
        <div>
          <p>
            You can access and modify your account details on this page.
            However, please note that some fields cannot be edited as they are
            linked to your BC Services Card.
          </p>
          <p>
            If the address on your ICBC record is incorrect, you will need to
            visit the official ICBC website to
            <a
              href="https://www.icbc.com/driver-licensing/getting-licensed/Change-your-name-or-address"
              target="_blank"
              >update your address information</a
            >.
          </p>
          <p>
            NOTE: Only email address is editable on the account page.
          </p>
        </div>

        <button
          mat-flat-button
          color="primary"
          class="primaryButton"
          (click)="onEdit()"
        >
          Edit Profile
        </button>
      </div>
    </div>
  </div>
  <div class="myAccount" *ngIf="isCreateProfile">
    <div class="list">
      <h2>Create your Profile</h2>
      <p>
        Please review and complete the form below. As this account is linked to
        your BC Services Card, certain fields are not editable.
      </p>
    </div>
  </div>

  <div>
    <h2 class="title">Personal Information</h2>
    <form>
      <div class="flex-row">
        <div>
          <label class="form-label">First Name</label>
          <mat-form-field
            appearance="outline"
            fxFlex="50px"
            class="disabledInput"
          >
            <input
              matInput
              name="firstName"
              placeholder="First Name"
              [formControl]="accountForm.controls.firstName"
            />
          </mat-form-field>
        </div>
        <div>
          <label class="form-label">Middle Name</label>
          <mat-form-field appearance="outline" class="disabledInput">
            <input
              matInput
              name="middleName"
              placeholder="Middle Name"
              [formControl]="accountForm.controls.middleName"
            />
          </mat-form-field>
        </div>
        <div>
          <label class="form-label">Last Name</label>
          <mat-form-field appearance="outline" class="disabledInput">
            <input
              matInput
              name="lastName"
              placeholder="Last Name"
              [formControl]="accountForm.controls.lastName"
            />
          </mat-form-field>
        </div>
      </div>

      <div>
        <div style="padding-top: 16px">
          <label class="form-label"
            >Email Address <span style="color: red">*</span></label
          >
          <mat-form-field
            appearance="outline"
            class="inputWidth"
            [ngClass]="{
              disabledInput: accountForm.controls.emailAddress.disabled
            }"
          >
            <input
              matInput
              type="text"
              name="email"
              placeholder="Email Address"
              [formControl]="accountForm.controls.emailAddress"
            />
            @if (accountForm.controls.emailAddress.getError('required')) {
            <mat-error>This Field is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="disclaimer">
      <b>Disclaimer:</b> <br />

      Email address is required to create an account profile. After submitting
      this form you are consenting to receiving an email which will ask you
      <br />
      to verify your account creation
    </div>
  </div>

  <div>
    <h2 class="title">ICBC Identification</h2>
    <p>
      Providing the following Insurance Corporation of British Columbia (ICBC)
      information allows the Driver's portal to display your active and <br />
      historical cases.
    </p>

    <div>
      <div>
        <label class="form-label">Driver's License Number (required)</label>
        <mat-form-field
          appearance="outline"
          class="inputWidth"
          [ngClass]="{
            disabledInput: accountForm.controls.driverLicenseNumber.disabled
          }"
        >
          <input
            matInput
            type="text"
            name="driverLicenseNumber"
            placeholder="Driver License Number"
            [formControl]="accountForm.controls.driverLicenseNumber"
          />
          @if (accountForm.controls.driverLicenseNumber.getError('maxlength')) {
          <mat-error
            >Max 8 digits are allowed for Driver License Number</mat-error
          >
          }
        </mat-form-field>
      </div>
    </div>
  </div>

  <div style="padding-bottom: 50px">
    <div>
      <div class="submitButtonContainer" *ngIf="onEditProfile">
        <button
          *ngIf="!isCreateProfile"
          mat-flat-button
          class="primaryButton"
          (click)="onUpdate()"
        >
          Update
        </button>
        <button
          *ngIf="isCreateProfile"
          mat-flat-button
          class="primaryButton"
          (click)="onRegister()"
        >
          Submit
        </button>
        <button mat-flat-button class="cancelButton" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
