<div class="page-desc">
    <div class="container">
      <div class="list">
        <h2>My Account</h2>
        <p>    
       You can access and modify your account details on this page. However, please note that some fields cannot be edited as they are linked to your BC Services Card.
        </p>
        <p>
            If the address on your ICBC record is incorrect, you will need to visit the official ICBC website to <a href="https://www.icbc.com/driver-licensing/getting-licensed/Change-your-address-or-name"  target="_blank">update your address information</a>.
        </p>
      </div>
    </div>
  </div>
  
  <div>

  </div>


  <div class="container">
  <div class="list">
  <h2>Personal Information</h2>
  <p>

  </p>
  <div>
    <div style="display: flex; gap: 48px">
        <div>
          <label class="form-label">First Name</label><br />
          <mat-form-field appearance="outline">
            <input
              matInput
              name="firstName"
              placeholder="First Name"
             
            />
          </mat-form-field>
        </div>
        <div>
            <label class="form-label">Middle Name</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                name="middleName"
                placeholder="Middle Name "
                
              />
            </mat-form-field>
          </div>
        <div>
          <label class="form-label">Last Name</label><br />
          <mat-form-field appearance="outline">
            <input
              matInput
              name="lastName"
              placeholder="Last Name "
              
            />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div>
          <label class="form-label">Email Address</label><br />
          <mat-form-field appearance="outline">
            <input matInput name="email" placeholder="Email Address "/>
          </mat-form-field>
        </div>
      </div>
      <div>
        <b>Disclaimer:</b> <br>

         Email address is required to create an account profile. After submitting this form you are consenting to receiving an email which will ask you to verify your account creation
      </div>
  </div>
  </div>
  </div>
  
<div>
  <div class="container" >
    <div class="list">
    <h2 style="padding-top: 32px;">ICBC  Identification</h2>
    <p>
        Providing the following Insurance Corporation of British Columbia (ICBC) information allows the Driver's portal to display your active and historical cases. 
    </p>
    <p>
        Your ICBC secret keyword is typically your mother's maiden name.  However if you do not know your ICBC secret keyword you will need to visit an ICBC office to obtain it.
    </p>
    <div>
      <div >
          <div>
            <label class="form-label">Driver's License Number (required)</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                name="driverLicenseNumber"
                placeholder="Driver License Number"
               
              />
            </mat-form-field>
          </div>
          <div>
              <label class="form-label">ICBC Secret Keyword (required)</label><br />
              <mat-form-field appearance="outline">
                <input
                  matInput
                  name="icbcKeyword"
                  placeholder="ICBC Secret Keyword"
                  
                />
              </mat-form-field>
            </div>  
    </div>
    </div>
    </div>
    </div>

    <div class="page-desc">
        <div class="container">
          <div class="list">
            <h2>Notification Preferences</h2>
            <b>Select one or more ways to receive RSBC notifications (required)</b>
            <div>
                <label > 
                    <input type="checkbox">  
                    Email (as seen above)
                </label> 
          
                <label> 
                    <input type="checkbox">  
                   Text/ SMS
                </label> 

                <label> 
                    <input type="checkbox">  
                   Mail <br>
                  <p>
                    Be environmentally friendly.  Leaving the Mail option unchecked means you are opting out of receiving notification by mail.  Certain decision documents will still be mailed to you for your records.
                  </p>

                </label>
                
                <label>
                    <input type="checkbox">
                    I acknowledge my selected notification preferences.  I give consent to receive communications from RSBC in this manner.

                    Note: You can update your notification settings at any time in the Driver Portal under Account Management.
                </label> 
            </div>
          </div>

       
            
        
        </div>
      </div>
      
      <div>
    
      </div>