.header {
  margin-bottom: 0;
  height: 75px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: center;

  .bc-logo img {
    margin: 0 10px;
    width: 193px;
    height: 75px;
  }

  .title {
    width: 70%;
  }

  .profile {
    width: 30%;
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;

    * {
      margin: 0 3px;
    }

    .avatar {
      line-height: 50px;
      background-color: #e7b855;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      text-align: center;
    }
  }
}
