<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
  <h1 class="title">Reminder Notification</h1>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="dialog-content">
  <div>
   <b>Are you sure you want to leave this page?</b> <br/>
   After exiting this page you will not longer be able to download the PDF of this DMER submission for your records.
  </div>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between center">
  <button mat-raised-button mat-dialog-close="true" color="primary">
    Yes I’m sure
  </button>
  <br />
  <button mat-button mat-dialog-close color="primary">
    No.  I still need to download
  </button>
</div>
