.dmer-details {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    gap:24px;
    flex-wrap:wrap ;
  }

.activeCaseDetails{
  display: flex;
  flex-direction: row;
}

.activeCaseDetailsRow {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  line-height: 24px;
  padding: 24px;
 
}

.caseDetailsRow{
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

  .mat-mdc-card.caseStatus {
    background-color: white;
    border: 1px solid #c3cddc;
  }
  
  mat-stepper {
    background-color: rgba(236, 245, 255, 1);
    border-radius: 5px;
    padding: 8px;
  }
  
  ::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
  
  ::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: rgba(0, 0, 0, 0.54);
  }
  
  ::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
    color: #003366;
  }
  ::ng-deep
    .mat-step-label.mat-step-label-active.mat-step-label-selected
    > .mat-step-text-label {
    color: #003366;
    font-weight: 700;
  
    border: 2px solid #f1f1f3;
    border-radius: 2px;
    background-color: #f1f1f3;
    // padding-top: 20px;
  }
  
 
  .submissionRequirement {
    display: flex;
   // width: 100%;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
  }

  ::ng-deep .mat-mdc-tab-label-container {
    max-width: 70%;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {

    border-color:#fcba19 !important;
}

::ng-deep .mdc-tab__text-label{
    font-family: "BC Sans Bold", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgba(51, 51, 51, 0.996078431372549) !important;
}

  .driver-details{
    display: flex;
    justify-content: space-evenly;
    line-height: 24px;
  }

  .top-margin{
    margin-top: 0px;
  }
  
  mat-card {
    margin-bottom: 24px;
  }
  
  .mat-mdc-card {
    border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 12px;
  
    .mat-mdc-card-header {
      padding-top: 12px;
  
      .mat-mdc-card-header-text {
        width: 100%;
        vertical-align: middle;
      }
    }
  }