<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
  <h1 class="title" *ngIf="data.selectedStatus === 'Request Renewal'">
    Request Association Renewal
  </h1>
  <h1 class="title" *ngIf="data.selectedStatus === 'Deactivate Selected'">
    Deactivate Association(s)
  </h1>
  <h1 class="title" *ngIf="data.selectedStatus === 'Remove Selected'">
    Remove Association(s) From Associations Table
  </h1>

  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="dialog-content">
  <div class="container">
    <div *ngIf="data.selectedStatus === 'Request Renewal'">
      <h1>Are you sure you want to request an association renewal?</h1>
      <p>
        You are about to request your association be renewed with the following
        individual(s).
      </p>
    </div>

    <div *ngIf="data.selectedStatus === 'Deactivate Selected'">
      <h1>Are you sure you want to deactivate the following association(s)?</h1>
      <p>
        You are about to deactivate your association with the following
        individual(s).
      </p>
    </div>

    <div *ngIf="data.selectedStatus === 'Remove Selected'">
      <h1>
        Are you sure you want to remove the following association(s) from your
        medical practitioner associations table?
      </h1>
      <p>
        You are about to remove your association with the following
        individual(s) from your medical practitioner associations table.
      </p>
    </div>

    <table mat-table #formsList [dataSource]="dataSource">
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let row">{{ row.role }}</td>
      </ng-container>
      <ng-container matColumnDef="lastActive">
        <th mat-header-cell *matHeaderCellDef>Last Active</th>
        <td mat-cell *matCellDef="let row">{{ row.lastActive }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between center">
  <button
    *ngIf="data.selectedStatus === 'Request Renewal'"
    mat-raised-button
    color="primary"
    (click)="onManageAssociation()"
  >
    Request Association Renewal
  </button>
  <button
    *ngIf="data.selectedStatus === 'Deactivate Selected'"
    mat-raised-button
    color="primary"
    (click)="onManageAssociation()"
  >
    Deactivate Association(s)
  </button>
  <button
    *ngIf="data.selectedStatus === 'Remove Selected'"
    mat-raised-button
    color="primary"
    (click)="onManageAssociation()"
  >
    Remove Association(s)
  </button>
  <br />
  <button mat-button mat-dialog-close color="primary" (click)="onCancel()">
    Cancel
  </button>
</div>
