<div class="container">
  <div class="submissions">
    <div>
      <p>
        The Letters to Driver tab displays all the letters that RSBC has sent to
        you about this case. You can download these letters.
      </p>
      <p>
        Find out more about how to report if a letter is not addressed to you or
        how to submit an appeal
      </p>
    </div>
    <div>
      <app-quick-links></app-quick-links>
    </div>
  </div>

  <div>
    <mat-card *ngFor="let letter of letterDocuments">
      <mat-card-content class="submissionRequirement">
        <div>
          <label>Created Date</label>
          <div>
            <b>{{ letter.createDate | date : "longDate" }}</b>
          </div>
        </div>

        <div>
          <label>Letter Topic</label>
          <div>
            <b>{{ letter.documentType }}</b>
          </div>
        </div>
        <div>
          <label>Description</label>
          <div>
            <b>{{ letter.description }}</b>
          </div>
        </div>

        <div>
          <label></label>
          <div>
            <button mat-flat-button>Download</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="list" id="definitions">
    <h2>Definitions</h2>
    <div class="accordion-btn-container">
      <a class="accordion-btn show-btn" (click)="accordion.openAll()"
        >Expand All</a
      >
      <span class="accordion-bar">&nbsp;|&nbsp;</span>
      <a class="accordion-btn hide-btn" (click)="accordion.closeAll()"
        >Collapse All</a
      >
    </div>
    <div style="padding-bottom: 30px">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Case Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-type></app-case-type>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Case Status
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-status></app-case-status>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              DMER Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-dmer-type></app-dmer-type>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Decision outcome
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-decision-outcome></app-decision-outcome>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Eligible License Class
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-eligible-license-class></app-eligible-license-class>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              RSBC Case Assignment
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-rsbc-case-assignment></app-rsbc-case-assignment>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Submission Type</mat-panel-title
            >
          </mat-expansion-panel-header>
          <app-submission-type></app-submission-type>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Document SubType
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>Upwards of 90 subtypes</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Submission Status</mat-panel-title
            >
          </mat-expansion-panel-header>
          <app-submission-status></app-submission-status>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Letter Topic</mat-panel-title
            >
          </mat-expansion-panel-header>
          <app-letter-topic></app-letter-topic>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
