.submissions {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    gap: 100px;
  }
  .submissionRequirement {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  /* mat-card{
    margin-bottom: 24px;
  } */

  .mat-mdc-card {
   border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 32px;
    margin-bottom: 24px;
  
    .mat-mdc-card-header {
      padding-top: 12px;
  
      .mat-mdc-card-header-text {
        width: 100%;
        vertical-align: middle;
      }
    }
}


button{
  border : 2px solid #003366;
  color: #003366;
  /* border-width: 0px;
    position: absolute;
    left: 756px;
    top: 27px;
    width: 158px;
    height: 46px;
    display: flex;
    font-family: "BC Sans Bold", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #003366; */
}

button:hover{   
    color: #fff;
    background-color: #003366;
}

