.topPadding{
    padding-top: 32px;
}

.caseDetailRow {
   line-height: 32px;
    padding-bottom: 24px;
    display: flex; 
    justify-content: space-between; 
    gap: 20px;
  }
 
  .caseBorder{ 
    border-top: 2px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
.closedCaseContent {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  
.case-details-border {
    border-left: 2px solid #808080;
    height: 45%;
  }
  
.mat-mdc-card {
    border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 32px;
    margin-bottom: 24px;
  
  .mat-mdc-card-header {
      padding-top: 12px;
  
      .mat-mdc-card-header-text {
        vertical-align: middle;
      }
    }
  }