.topPadding{
    padding-top: 32px;
}

.caseDetailRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 150px;
    line-height: 32px;
    padding-bottom: 24px;
  }
  
.closedCaseContent {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  
.case-details-border {
    border-left: 2px solid #808080;
    height: 45%;
  }
  
.mat-mdc-card {
    border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 32px;
    margin-bottom: 24px;
  
  .mat-mdc-card-header {
      padding-top: 12px;
  
      .mat-mdc-card-header-text {
        vertical-align: middle;
      }
    }
  }