<div class="page-desc">
  <div class="container">
    <h1>Portal Dashboard</h1>
    <p>In this portal you can:</p>
    <div>
      <ul>
        <li>Start, access and submit a Driver’s Medical Exam Report (DMER)</li>
        <li>See DMER Status</li>
        <li>
          <a routerLink="/getHelp"
            >Options for the driver to obtain a missing DMER CaseId</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <mat-card class="search-card">
    <mat-card-header>
      <mat-card-title class="card-title"> Search DMER Case </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div style="width: 100%">
          <label class="form-label">DMER Case ID</label>

          <div class="search-container">
            <mat-form-field class="search-input" appearance="outline">
              <input
                matInput
                placeholder="Enter the DMER Case ID to start or access a DMER "
                [formControl]="searchBox"
              />
            </mat-form-field>
            <button
              mat-flat-button
              color="primary"
              class="search-button"
              (click)="searchDmerCase()"
            >
              Search DMER Case
            </button>
          </div>

          <p>
            Missing DMER Case ID?
            <a routerLink="/getHelp"
              >Find out the options for the driver to obtain their DMER Case
              ID</a
            >
          </p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="showSearchResults">
    <div class="result-card">
      @if (isSearching) {
        <div>
          Showing Search Results for <b>{{ searchedCase?.idCode }}</b>
          <button mat-button color="primary" (click)="clearResults()">
            Clear
          </button>
        </div>
      }

      @if (noResults) {
        <mat-card>
          <mat-card-content>
            <h2>No Results Found for this search</h2>
          </mat-card-content>
        </mat-card>
      }

      <mat-card *ngIf="searchedCase">
        <mat-card-content>
          <div class="serachResultRow1">
            <div style="padding: 30px; border-right: 2px solid grey">
              <div>
                <label>Case Id</label>
                <div>
                  <b
                    ><a
                      [routerLink]="['/caseDetails', searchedCase.caseId, searchedCase.idCode]"
                      routerLinkActive="active"
                      >{{ searchedCase.idCode }}</a
                    >
                    <br
                  /></b>
                  View case details
                </div>
              </div>
            </div>
            <div style="flex: 1">
              <div class="serachResultRow2">
                <div>
                  <div>
                    <label>Patient's Name</label>
                    <div>
                      <b
                        >{{ searchedCase.lastName }},
                        {{ searchedCase.firstName }}</b
                      >
                    </div>
                  </div>
                  <div>
                    <label>DMER Type</label>
                    <div>
                      <b>{{ searchedCase.dmerType }}</b>
                    </div>
                  </div>
                </div>

                <div>
                  <div>
                    <label>Driver License Number</label>
                    <div>
                      <b>{{ searchedCase.driverLicenseNumber }}</b>
                    </div>
                  </div>
                  <div>
                    <label>DMER Status</label>
                    <div>
                      <b>{{ searchedCase.status }}</b>
                    </div>
                  </div>
                </div>
                <div>
                  <div>
                    <label>Date Of Birth</label>
                    <div>
                      <b>{{ searchedCase.birthDate | date: "longDate" }}</b>
                    </div>
                  </div>
                  <div>
                    <div>
                      <button mat-flat-button class="primaryButton" (click)="openPopup()">
                        Start DMER
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding-left: 18px">
                This needs to be submitted by:
                <b>
                  {{ searchedCase.latestComplianceDate | date: "longDate" }}</b
                >
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="list">
    <h2>DMER Definitions</h2>
    <div class="accordion-btn-container">
      <a class="accordion-btn show-btn" (click)="accordion.openAll()"
        >Expand All</a
      >
      <span class="accordion-bar">&nbsp;|&nbsp;</span>
      <a class="accordion-btn hide-btn" (click)="accordion.closeAll()"
        >Collapse All</a
      >
    </div>
    <div style="padding-bottom: 30px">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">DMER Type</mat-panel-title>
          </mat-expansion-panel-header>
          <app-medical-dmer-types></app-medical-dmer-types>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title"
              >DMER Status</mat-panel-title
            >
          </mat-expansion-panel-header>

          <app-dmer-status></app-dmer-status>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="list">
    <h2>DMERs</h2>
    <p>
      Browse the list or search for DMERs you have been working on using the
      search field and filters below. See above for DMER Type and Case Status
      definitions.
    </p>
    <div class="filter-dmer">
      <div>
        <mat-form-field class="cases-input" appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Search by Name or Case ID"
            [(ngModel)]="searchCasesInput"
          />
          <button
            matSuffix
            mat-icon-button
            aria-label="search"
            (click)="filterCasesData()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <mat-icon class="filter-icon">filter_alt</mat-icon>
        <mat-label style="color: #003366">Filter By: </mat-label>
        <mat-form-field class="status-filter">
          <mat-select
            [(ngModel)]="selectedStatus"
            name="status"
            (selectionChange)="filterCasesData()"
          >
            @for (status of status; track status) {
              <mat-option [value]="status.value">{{
                status.viewValue
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button class="cancelButton" (click)="clear()">
          Clear
        </button>
      </div>
    </div>
    <div>
      @for (dmer of filteredData; track dmer.caseNumber) {
        <mat-card style="margin-bottom: 24px">
          <mat-card-content class="dmer-details">
            <div>
              <label>DMER Case Id</label>
              <div>
                <b>
                  <a
                    [routerLink]="['/caseDetails', dmer.caseNumber]"
                    routerLinkActive="active"
                    >{{ dmer.caseNumber }}
                  </a>
                </b>
              </div>
              <div>View Case Details</div>
            </div>
            <div class="dmer-details-row">
              <div class="dmer-details-row-1">
                <div class="column-width">
                  <label>Patient's Name</label>
                  <div>
                    <b>{{ dmer.fullName }}</b>
                  </div>
                </div>
                <div class="column-width">
                  <label>Date of Birth</label>
                  <div>
                    <b>{{ dmer.birthday }}</b>
                  </div>
                </div>
                <div class="column-width">
                  <label>DMER Type</label>
                  <div>
                    <b>{{ dmer.dmerType }}</b>
                  </div>
                </div>
                <div class="column-width">
                  <label>DMER Status</label>
                  <div>
                    @if (dmer && dmer.dmerStatus) {
                      <b> {{ dmer.dmerStatus }}</b>
                    } @else {
                      {{ " " }}
                    }
                  </div>
                </div>
              </div>

              <div class="dmer-details-row-1">
                This needs to be submitted by {{ dmer.complianceDate }}.
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      }

      @if (noResults) {
        <mat-card>
          <mat-card-content>
            <h2>No Results Found for this search</h2>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>
