.search-card {
  margin-top: 32px;
}

.form-label {
  font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

form {
  padding: 30px;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: center;
  padding-bottom: 1px;
}

.search-input {
  // width: 845px;
    flex: 1;
  ::ng-deep .mat-form-field-flex {
    background-color: #ffffff;
    //border: solid 2px  #003366;
  }
}

.search-button {
  width: 270px;
  height: 49px;
  background-color: #003366 !important;
  border: none;
  border-radius: 5px;
  font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.search-button:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 12px;
}

.card-title {
  padding-left: 24px;
  font-family: "BC Sans Bold", "BC Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.filter-dmer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.filter-icon{
  vertical-align: middle;
}

.status-filter{
  width: 350px;
}

.cases-input{
  width:500px;
}

.dmer-details {
  display: flex;
  //justify-content: space-between;
  line-height: 24px;
  gap: 24px;
}

.dmer-details > div{
  //flex:1;
  padding-right: 24px;
}

.dmer-details > div:first-child{
  border-right: 2px solid grey;
}

mat-card {
  margin-bottom: 24px;
}


.mat-mdc-card {
  border: 1px solid gray;
  box-shadow: none !important;
  margin: 30px 0 30px 0;
  padding: 12px;

  .mat-mdc-card-header {
    padding-top: 12px;

    .mat-mdc-card-header-text {
      width: 100%;
      vertical-align: middle;
    }
  }
}

.serachResultRow1 {
  display: flex;
  flex-direction: row;
}


.serachResultRow2 {
  display: flex;
  flex: 1;
  
  flex-direction: row;
  justify-content: space-between;
  line-height: 24px;

  > div > div {
    padding: 18px;
  }
}

.dmer-details-row{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.dmer-details-row-1{
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 125px;
  width: 100%;
}

.column-width{
   width: 150px;
}

.three-column-width {
  width: 450px;
}

.noResults{
  line-height: 24px;
}

@media only screen and (max-width: 1024px) {
  /* For Tablets: */

  .dmer-details {
    display: flex;
  }

  .dmer-details-row-1{
    gap:20px;
  }
  
  .serachResultRow2{
    flex-wrap: wrap;
  }
}
