<div>
  <mat-card class="driver-details-card">
    <mat-card-content class="driver-details">
      <div>
        <label>First Name</label>
        <div>
          <b>{{caseDetails?.firstName}}</b>
        </div>
      </div>
      <div>
        <label>SUR</label>
        <div>
          <b>{{caseDetails?.lastName}}</b>
        </div>
      </div>
      <div>
        <label>Driver’s License Number</label>
        <div>
          <b>{{caseDetails?.driverLicenseNumber}}</b>
        </div>
      </div>
      <div>
        <label>Case Id</label>
        <div>
          <b>{{caseDetails?.idCode}}</b>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <div class="container">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Driver Cases">
        <div class="container">
          <div class="list top-padding">
            <h2>Most Recent Case</h2>
            <div>
              <app-shared-recent-case [caseManagementService]="caseManagementService" [portal]="PortalsEnum.PartnerPortal"></app-shared-recent-case>
            </div>
          </div>

          <div class="list top-padding">
            <h2>Case Documentation</h2>
            <div>
              <app-submission-requirements></app-submission-requirements>
            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="Letters to Driver">
        <app-letters-to-driver></app-letters-to-driver>
      </mat-tab>
      <mat-tab label="Submission History">
        <app-submission-history></app-submission-history>
      </mat-tab>
      <!-- <mat-tab label="Comments">
        <app-comments (click)="openCommentsDialog()"></app-comments>
      </mat-tab> -->
      <mat-tab label="Assist Driver">
        <app-get-assistance></app-get-assistance>
      </mat-tab>
    </mat-tab-group> 

  </div>
</div>

<!-- Comments button -->
<div class="comment">
  <button mat-button class="commentsButton" (click)="openCommentsDialog()"><mat-icon class="matIcon">edit_document</mat-icon> Comments </button>
</div>
