.driver-details-card {
    margin-top: 0px; 
    margin-bottom: 0px
}

.driver-details{
    display: flex;
    justify-content: space-evenly;
    line-height: 24px;
  }

  .nav-bar-items{
    display: flex; 
    justify-content: space-between;
     width: 100%
  }

  .commentsButton {
    border-width: 0px;
    width: 220px;
    height: 70px;
    font-family: "BC Sans Bold", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    color: #003366 !important;
    background-color: #f1f1f3;
    text-decoration: underline;
  }
  
  .comment{
    position: absolute;
    right: -70px;
    bottom: 450px;
    rotate: 90deg;
    z-index: 999;
    }

  .matIcon{
    color: #003366;
    transform: scale(1);
  }
  

  .mat-tab-header{
    background-color: rgba(236, 245, 255, 1) !important;
    border: none;
    color: #313132;
    width: 100%;
  }


  .mat-mdc-card {
    border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 32px;
    margin-bottom: 24px;
    
    .mat-mdc-card-header {
      padding-top: 12px;

      .mat-mdc-card-header-text {
        vertical-align: middle;
      }
    }
  }
  
  .driver-details-card {
    margin-top: 0px; 
    margin-bottom: 0px
  }

  .top-padding{
    padding-top: 32px;
  }