.driver-details-card {
    margin-top: 0px; 
    margin-bottom: 0px
}

.driver-details{
    display: flex;
    justify-content: space-evenly;
    line-height: 24px;
  }

  .nav-bar-items{
    display: flex; 
    justify-content: space-between;
     width: 100%
  }

  .mat-tab-header{
    background-color: rgba(236, 245, 255, 1) !important;
    border: none;
    color: #313132;
    width: 100%;
  }


  .mat-mdc-card {
    border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 32px;
    margin-bottom: 24px;
    
    .mat-mdc-card-header {
      padding-top: 12px;

      .mat-mdc-card-header-text {
        vertical-align: middle;
      }
    }
  }
  
  .driver-details-card {
    margin-top: 0px; 
    margin-bottom: 0px
  }

  .top-padding{
    padding-top: 32px;
  }