@using System.Collections.Generic
@model IEnumerable<Dmft.Api.Models.Dmer>

<html>
    <head>
        <title>DMER Queue</title>
        <link rel="stylesheet" href="~/css/tables.css">
    </head>
    <body>
        <h1>Driver Medical Examination Report (DMER)</h1>
        <div class="divTable paleBlueRows">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead">DLN</div>
                    <div class="divTableHead">Status</div>
                    <div class="divTableHead">Name</div>
                </div>
            </div>
            <div class="divTableBody">
            @foreach (var item in @Model)
            {
                var bc = item.Status == "CLEAN_PASS" ? "background-color:LightGreen;" : item.Status == "NON_CLEAN" ? "background-color:LightRed;" : "";
                <div class="divTableRow">
                    <div class="divTableCell">@item.Id</div>
                    <div class="divTableCell" style="@bc">@item.Status</div>
                    <div class="divTableCell">@item.Name</div>
                </div>
            }
            </div>
        </div>
    </body>
</html>


