.submissions {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    gap: 100px;
  }
  .submissionRequirement {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  
  mat-card{
    margin-bottom: 24px;
  }

  .mat-mdc-card {
   border: 1px solid gray;
    box-shadow: none !important;
    margin: 30px 0 30px 0;
    padding: 32px;
  
    .mat-mdc-card-header {
      padding-top: 12px;
  
      .mat-mdc-card-header-text {
        width: 100%;
        vertical-align: middle;
      }
    }
}