<div class="container">
  <div class="submissions">
    <div>
      <div>
        <span class="file-upload">
          RSBC is asking for specific submissions to conduct their evaluation.
          These submissions can be documents or reports that you or your medical
          practitioner can provide. Once you upload a document or report, the
          requirement will be moved to the Document History tab.
        </span>
        <br />
        <span class="file-upload">
          Please be aware that if your medical practitioner or you have sent a
          document by fax, it may take some time for it to be removed from this
          list.
        </span>
        <br />
        <span class="file-upload">
          <b>Uploading Submission Requirements</b> <br />
          Use the Upload button to upload specific submission requirements.
        </span>
        <br />
        <span class="file-upload"><b>File Upload Specifications</b></span>
        <ul>
          <li>Maximum file size: 20MB</li>
          <li>Accepted file types: PDF,PNG,JPEG</li>
        </ul>
      </div>
      <div style="padding-bottom: 24px">
        <button
          class="secondaryButton"
          mat-flat-button
          (click)="openUploadFile()"
        >
          Upload File
        </button>
      </div>
      <div class="fileUpload" *ngIf="showUpload">
        <b> Upload Your File</b>
        <br />
        1. Select the appropriate document type based on the submission
        requirement below. <br />
        2. Browse for your file <br />
        3. Click Upload <br />
        File button Certain documents cannot be uploaded (e.g., example here).
        Learn how to submit additional documentation.
        <div style="padding-top: 24px">
          <mat-form-field appearance="outline" style="width: 350px">
            <mat-label>Select Document Type</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="documentType">
              @for (documentType of documentSubTypes; track documentType) {
              <mat-option [value]="documentType.id">{{
                documentType.name
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
          <ngx-dropzone-label
            ><div>
              <mat-icon> file_present </mat-icon>
              <div>
                <p>
                  Browse your file <br />
                  File Upload Specifications <br />
                  Maximum file size: 20MB <br />
                  Accepted file types: PDF,PNG,JPEG
                </p>
              </div>
            </div></ngx-dropzone-label
          >
          <ngx-dropzone-preview
            *ngIf="fileToUpload"
            [multiple]="false"
            [removable]="true"
            (removed)="onRemove()"
          >
            <ngx-dropzone-label
              >{{ fileToUpload.name }} ({{
                fileToUpload.type
              }})</ngx-dropzone-label
            >
          </ngx-dropzone-preview>
        </ngx-dropzone>
        <div style="padding-top: 24px">
          <label>
            <input type="checkbox" #confirmed [formControl]="acceptControl" />I
            verify that this document is authentic and unaltered.
          </label>
        </div>

        <div class="uploadbutton">
          <button
            mat-flat-button
            class="secondaryButton"
            (click)="fileUpload()"
            [disabled]="!confirmed.checked"
          >
            Upload File
          </button>
          <button
            mat-flat-button
            class="primaryButton"
            (click)="closeUploadFile()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div>
      <app-quick-links></app-quick-links>
    </div>
  </div>
  <div>
    <mat-card *ngFor="let document of submissionRequirementDocuments">
      <mat-card-content class="submissionRequirement">
        <div style="grid-area: A">
          <label>Due Date</label>
          <div>
            <b>{{ document.dueDate | date : "longDate" }}</b>
          </div>
        </div>

        <div style="grid-area: B">
          <label>Submission Type</label>
          <div>
            <b>{{ document.documentType }}</b>
          </div>
        </div>
        <div style="grid-area: C">
          <label>Description</label>
          <div>
            <b>{{ document.description }}</b>
          </div>
        </div>

        <div style="grid-area: D">
          <label></label>
          <div>
            <button
              mat-flat-button
              class="primaryButton"
              routerLink="/lettersToDriver"
              
            >
              View Letter
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="numberOfItems"
    *ngIf="
      submissionRequirementDocuments &&
      submissionRequirementDocuments.length > 0
    "
  >
    Showing {{ submissionRequirementDocuments.length }} of
    {{ submissionRequirementDocuments.length }} records
  </div>

  <div class="list" id="definitions">
    <h2>Definitions</h2>
    <div class="accordion-btn-container">
      <a class="accordion-btn show-btn" (click)="accordion.openAll()"
        >Expand All</a
      >
      <span class="accordion-bar">&nbsp;|&nbsp;</span>
      <a class="accordion-btn hide-btn" (click)="accordion.closeAll()"
        >Collapse All</a
      >
    </div>
    <div style="padding-bottom: 30px">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Case Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-type></app-case-type>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Case Status
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-status></app-case-status>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              DMER Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-dmer-type></app-dmer-type>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Decision outcome
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-decision-outcome></app-decision-outcome>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Submission Type</mat-panel-title
            >
          </mat-expansion-panel-header>
          <app-submission-type></app-submission-type>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Submission Status</mat-panel-title
            >
          </mat-expansion-panel-header>
          <app-submission-status></app-submission-status>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
