<div class="definationCard">
  There are two categories of DMERs. The difference between them is when a
  medical practice is able to receive a reimbursement from RoadSafetyBC.
  <div class="definationContent">
    <ul>
      <li>
        <b>No Reimbursement</b> <br />
        The routine DMERs noted below are not subsidized by RoadSafetyBC.
        <div>
          <label>Scheduled Age</label>
          <label>Commercial</label>
        </div>
      </li>
      <li>
        <b>Reimbursement</b> <br />
        The DMERs noted below are eligible for a reimbursement of $75.00 from
        RoadSafetyBC.
      </li>
    </ul>
  </div>
</div>
