<div class="container">
  <div class="list">
    <h2>Get Assistance</h2>
    <div class="assistance-page">
      <p>
        To get answers to your questions, you can look through our Help Topics
        below. If you need further help, you can ask for a call back from a
        customer service representative at RSBC. There is a maximum of 1 open
        call back request at anytime. This is the best way to get support
        quickly. You can also contact RSBC by phone if you prefer.
      </p>
    </div>
    <div style="padding-top: 24px">
      <h2>Help Topics</h2>
      <div style="display: flex; gap: 32px">
        <div class="help-topics" cdkMenu>
          <button class="help-topics-item" cdkMenuItem>
            <b>Recommended topics</b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b> Help with Driver Portal </b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b> About my current case </b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b>Documents </b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b>Letters to Driver</b>
          </button>
        </div>
        <div>
          <mat-card>
            <mat-card-content
              ><b> Upload a Document </b>
              <div>
                You have an extra document that you want to submit to RSBC.
                <br />
                Learn more about this process.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content
              ><b> Upload a Document </b>
              <div>
                You have an extra document that you want to submit to RSBC.
                <br />
                Learn more about this process.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content
              ><b> Upload a Document </b>
              <div>
                You have an extra document that you want to submit to RSBC.
                <br />
                Learn more about this process.
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-content
              ><b> Upload a Document </b>
              <div>
                You have an extra document that you want to submit to RSBC.
                <br />
                Learn more about this process.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content
              ><b> Upload a Document </b>
              <div>
                You have an extra document that you want to submit to RSBC.
                <br />
                Learn more about this process.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content
              ><b> Upload a Document </b>
              <div>
                You have an extra document that you want to submit to RSBC.
                <br />
                Learn more about this process.
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div>
      <h2>Contact RoadSafetyBC</h2>
      <p>
        If the topics above don't give you the answer you're looking for, you
        can call a client service representative at RSBC. <br />
        <b>Hours of operation</b>: Monday to Friday from 8am to 5pm <br />

        <b>Phone</b>: 1-855-387-7747
      </p>
    </div>
  </div>
</div>
