<div class="container">
  <div class="list">
    <h2>Get Assistance</h2>
    <div class="assistance-page">
      <div>
        <p>
          To get answers to your questions, you can look through our Help Topics
          below. If you need further help, you can ask for a call back from a
          customer service representative at RSBC. There is a maximum of 1 open
          call back request at anytime. This is the best way to get support
          quickly. You can also contact RSBC by phone if you prefer.
        </p>
      </div>
      <div>
        <div class="callBackContent">
          <div class="text" *ngIf="_allCallBackRequests?.length != 0">
            You have 1 open Request Call Back *
            <ul>
              <li>
                <a href="#" (click)="viewRequest($event, 'callBack')">
                  View Request
                </a>
              </li>
            </ul>
            <span>* Maximum of 1 open call back request</span>
          </div>
          <div class="text" *ngIf="_allCallBackRequests?.length == 0">
            You have no call back requests
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 32px">
      <h2>Help Topics</h2>
      <div class="help">
        <div class="help-topics" cdkMenu>
          <button
            class="help-topics-item"
            (click)="recommendedTopics()"
            cdkMenuItem
          >
            <b>Recommended topics</b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b> Help with Driver Portal </b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b> About my current case </b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b>Documents </b>
          </button>
          <button class="help-topics-item" cdkMenuItem>
            <b>Letters to Driver</b>
          </button>
        </div>
        @if (display === 0) {

        <div class="help-cards">
          <mat-card (click)="helpcard(HelpTopics.UPLOAD_EXTRA_DOCUMENT)">
            <mat-card-content
              ><b> Upload a Document </b>
              <div>
                You have an extra document that you want to submit to RSBC.
                Learn more about this process.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card (click)="helpcard(HelpTopics.VIEW_DMER_SUBMISSION)">
            <mat-card-content
              ><b> View DMER submission </b>
              <div>
                DMERs submitted online by a medical practitioner will not be
                visible to you. Learn how you can obtain a copy.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card (click)="helpcard(HelpTopics.RECEIVED_AN_INCORRECT_LETTER)">
            <mat-card-content
              ><b> Received an incorrect letter </b>
              <div>
                If you have received a letter from RSBC which does not relate to
                you find out how to report this to RSBC.
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="help-cards">
          <mat-card (click)="helpcard(HelpTopics.DOCUMENT_HISTORY)">
            <mat-card-content
              ><b> Cannot see document in Document History </b>
              <div>
                In certain instances you will not immediately see your document
                requirement appear in Document History.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card (click)="helpcard(HelpTopics.REPLACEMENT_DOCUMENT)">
            <mat-card-content
              ><b>Submit a replacement document </b>
              <div>
                Uploading an incorrect file can happen. Learn how you can
                resubmit a document.
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card (click)="helpcard(HelpTopics.REQUEST_EXTENSION)">
            <mat-card-content
              ><b> Request extension </b>
              <div>
                Sometimes life gets in the way. Learn how you can request an
                extension from RSBC on your case.
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        } @else if (display === HelpTopics.UPLOAD_EXTRA_DOCUMENT) {
        <div class="helpDetails">
          <b style="padding: 12px">Upload an Extra Document</b>
          <p>
            Under the Submission Requirements tab on a case page, RSBC lists all
            the submissions they require from you. If RSBC has not asked for a
            specific document, they probably do not require it at this time.
          </p>
          <p>The Driver Portal does not allow you to upload extra documents.</p>
          <p>
            To submit an extra document you need to discuss this with a RSBC
            agent by requesting a call back. They will be able to provide you
            with the assistance you need.
          </p>
        </div>

        } @else if(display === HelpTopics.VIEW_DMER_SUBMISSION){
        <div class="helpDetails">
          <b style="padding: 12px">View DMER Submission</b>
          <p>
            In the Submission History tab, it displays the documents and reports
            that RSBC has received to date on all of your cases. You are not
            able to download a copy of these documents. To view any personal
            information collected about you, you will be required to submit a
            Freedom of Information request. Please enquire by calling
            250-387-1321, or faxing 250-387-9843, or email
            <a href="mailto:FOI.Requests@gov.bc.ca">FOI Request Support</a>
          </p>
          <p>
            Find more information on Freedom of Information Requests
            <a
              href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/open-government/open-information/freedom-of-information"
              target="_blank"
              >here</a
            >
          </p>
        </div>
        } @else if(display === HelpTopics.RECEIVED_AN_INCORRECT_LETTER){
        <div class="helpDetails">
          <b style="padding: 12px">Received an incorrect letter</b>
          <p>
            The Letters to Driver tab displays all the letters that RSBC has
            sent you about our case. If you received a RSBC letter in error,
            please call RSBC at 250-387-7747 or toll free at 1-855-387-7747.
          </p>
        </div>
        } @else if(display === HelpTopics.DOCUMENT_HISTORY){
        <div class="helpDetails">
          <b style="padding: 12px">Cannot see document in Document History</b>
          <p>
            The Submission History tab displays the documents and reports that
            RSBC has received to date on all of your cases. Please note that if
            your medical practitioner or you have sent a document through fax,
            it might take a while for it to appear as received.
          </p>
        </div>
        } @else if(display === HelpTopics.REPLACEMENT_DOCUMENT){
        <div class="helpDetails">
          <b style="padding: 12px">Submit a replacement document</b>
          <p>
            The Submission History tab displays the documents and reports that
            RSBC has received to date on all of your cases. ** If you have
            uploaded an incorrect file, please call RSBC at 250-387-7747 or toll
            free at 1-855-387-7747.
          </p>
        </div>
        } @else if(display === HelpTopics.REQUEST_EXTENSION){
        <div class="helpDetails">
          <b style="padding: 12px">Request extension</b>
          <p>
            the Dashboard tab displays Outstanding Documents. RSBC sent you a
            letter advising that further medical information is required within
            a timeframe. If you require an extension for this submittal, please
            call RSBC at 250-387-7747 or toll free at 1-855-387-7747.
          </p>
        </div>
        }
      </div>

      @if (showCallBackCreate){

      <div class="createCallBack">
        <div class="callback" >
          <div style="display: flex; gap: 42px; padding: 24px">
            <b>Still require assistance?</b>
            <button
              [class.disabledButton]="disableCallBack"
              [disabled]="disableCallBack"
              [class.callBackButton]="!disableCallBack"
              (click)="onRequestCallBack()"
            >
              Request Call Back
            </button>
            <button
              class="callBackButton"
              (click)="viewRequest($event, 'callBack')"
            >
              Contact RSBC
            </button>
          </div>
        </div>
        <div style="padding: 24px" *ngIf="showCallBack">
          <h3>Request Call Back</h3>
          <form>
            <div style="display: flex; flex-direction: column">
              <div>
                <mat-form-field style="width: 300px">
                  <mat-label>Select Topic</mat-label>
                  <mat-select [(ngModel)]="selectedValue" name="callBackTopic">
                    @for (callBackTopic of callBackTopics; track callBackTopic)
                    {
                    <mat-option [value]="callBackTopic.value">{{
                      callBackTopic.viewValue
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <label class="form-label">Phone Number</label>
                <mat-form-field appearance="outline" class="inputWidth">
                  <input
                    matInput
                    name="phoneNumber"
                    placeholder="Phone Number"
                    [formControl]="callbackRequest.controls.description"
                  />
                </mat-form-field>
              </div>
              <div>
                <label class="form-label">Best time to receive a call</label>
                <label> <input type="checkbox" />9:00am - 4:00pm </label>
                <label> <input type="checkbox" />9:00am and 12:00pm </label>
                <label> <input type="checkbox" />12:01pm - 4:00pm </label>
              </div>
            </div>
            <div class="submitButtonContainer">
              <button
                class="primaryButton"
                mat-flat-button
                (click)="createCallBack()"
              >
                Submit
              </button>
              <button class="cancelButton" (click)="back()">Back</button>
            </div>
          </form>
        </div>
      </div>
      }
    </div>
    <div style="padding-top: 32px">
      <h2>Contact RoadSafetyBC</h2>
      <p>
        If the topics above don't give you the answer you're looking for, you
        can call a client service representative at RSBC. <br />
        <br />
        <b>Hours of operation</b>: Monday to Friday from 9am to 4pm <br />

        <b>Phone</b>: 1-855-387-7747 <br />
        <b>Greater Victoria</b> : 250-387-7747
      </p>
    </div>
    <div style="padding-top: 32px" id="callBack">
      <h2>Request Call Back History</h2>
      <p>
        Once you've asked for a call back, you will find a record of your
        request in this table. You can check the status of your request and see
        any notes added by RSBC customer service representatives. If you no
        longer need assistance, you have the option to cancel your open request
        whenever you want.
      </p>
      <div style="padding-bottom: 32px" class="list">
        <mat-card
          class="callBackCard"
          *ngFor="let callback of allCallBacks"
          [ngClass]="{
            open: callback.id && isExpanded[callback.id]
          }"
        >
          <mat-card-content class="closedCaseContent">
            <div style="text-align: center">
              <mat-icon
                (click)="toggleIsExpandable(callback.id)"
                class="expandedIcon"
              >
                expand_circle_down
              </mat-icon>
            </div>
            <div style="display: flex; flex-direction: column">
              <div class="case-details-border">&nbsp;</div>
              <div>&nbsp;</div>
            </div>
            <div style="flex: 1">
              <div class="caseDetailRow">
                <div>
                  <label>Request call back date </label>
                  <div>
                    <b>{{ callback.requestCallback | date : "longDate" }}</b>
                  </div>
                </div>

                <div>
                  <label>Topic</label>
                  <div>
                    <b>{{ callback.topic }}</b>
                  </div>
                </div>
                <div>
                  <label>Call Status</label>
                  <div>
                    <b>{{ callback.callStatus }}</b>
                  </div>
                </div>
                <div *ngIf="callback.callStatus === 'Open'">
                  <label></label>
                  <div>
                    <button
                      mat-flat-button
                      (click)="openCancelCallbackDialog(callback)"
                    >
                      Cancel Callback
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="caseDetailRow expandedDetails"
                *ngIf="callback.id && isExpanded?.[callback.id]"
                style="
                  border-top: 2px solid gray;
                  padding-top: 20px;
                  padding-bottom: 20px;
                "
              >
                <div>
                  <label>Preferred callback times</label>
                  <div>
                    <b>9.00 AM - 12.01 PM</b>
                  </div>
                </div>
                <div>
                  <label>RSBC Call details</label>
                  <div>
                    <!-- <b></b> -->
                    <b>April 29 - Call attempt unsuccessful</b>
                  </div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div
      class="numberOfItems"
      style="margin-bottom: 32px"
      *ngIf="
        allCallBacks &&
        allCallBacks.length > 0 &&
        filteredCallbacks &&
        filteredCallbacks.length > 0
      "
    >
      Showing {{ filteredCallbacks.length }} of
      {{ allCallBacks.length }} records
      <br />
      <a
        *ngIf="filteredCallbacks.length < allCallBacks.length"
        (click)="viewMore()"
        class="viewMore"
        ><b style="color: #003366">View more records</b>
        <mat-icon class="ViewMoreIcon">expand_circle_down</mat-icon></a
      >
    </div>
  </div>
</div>
