.further-info{
    padding: 30px;
}

.info-icon {
    vertical-align: middle;
  }

  .dmer-information{
      padding: 30px;
  }

  .footnote{
    font-size: 12px;
  }

  .dmer-type{
    background-color: #fff;
    border: 2px solid #fcba19;
    padding: 2px;
    border-radius: 4px;
  }

  
.list {
    h2 {
      font-weight: bold;
      color: #003366;
      font-size: 31px;
      border-left: 3px solid #fcba19;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    p {
      padding-left: 13px;
      font-size: 18px;
      line-height: 1.6;
    }
  
  }