<div class="page-desc">
  <div class="container">
    <div class="list">
      <h2>DMER Case Details</h2>
      <p>
        Find below DMER submission information as well as how to submit further
        information to RoadSafetyBC regarding this driver.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <mat-card class="search">
    <mat-card-header class="primary">
      <mat-card-title>
        <mat-icon class="info-icon">description</mat-icon> DMER Information
      </mat-card-title>
    </mat-card-header>
    <mat-card-content
      class="dmer-information"
      fxLayout="row"
      fxLayoutGap="120px"
    >
      <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="24px">
        <div>
          DMER Case ID: <b> {{ selectedCase?.title }}</b>
        </div>
        <div>
          DMER Type:
          <label class="dmer-type">{{ selectedCase?.dmerType }}</label>
        </div>
        <div>
          Driver Name :
          <b
            >{{ selectedCase?.patientFirstname }},
            {{ selectedCase?.patientLastname }}
            {{ selectedCase?.patientMiddlename }}</b
          >
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="24px">
        <div>
          Status: <b> {{ selectedCase?.status }}</b>
        </div>
        <div>
          Submission Date :
          <b>{{ selectedCase?.createdOn | date }}</b>
        </div>
        <div>Medical Practioner on Record : <b>Dr. Shelby Drew</b></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <mat-card class="search">
    <mat-card-header class="primary">
      <mat-card-title>
        <mat-icon class="info-icon">info</mat-icon> Further Information
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="further-info">
        <b
          >When would a medical professional submit further information to RoadSafetyBC regarding this patient?</b
        >
        <ul>
          <li>
            A medical professional may be contacted by a patient requesting further medical information that RSBC requires to assess their case.
          </li>
          <li>
            A medical professional can submit further information regarding a patient at any time.  This information may include:
            <ul>
              <li>
                An amendment* and/or supplement to this DMER submission (e.g. relevant specialist consult reports, results of medical investigations, etc.)
              </li>
              <li>
                Any other information they believe should be taken into consideration when assessing this patient's fitness to drive.
              </li>
            </ul>
          </li>
        </ul>
    <div>
        <b>
          Submit further medical information by fax to RoadSafetyBC:
        </b> <br/>
        Fax number: 250-952-6888 <br/>
        <b>REQUIRED</b> : Patient’s full name, address and date of birth <br/>
        <b>IF AVAILABLE</b>: Driver's licence number <br/>
        <div class="footnote">
        * Please be advised that the original e-DMER cannot be altered once submitted. Any additional information must be submitted to RoadSafetyBC by fax.
        </div>
      </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
