<div class="container">

    <div class="list top-padding">
        <h2>Rehab Assignment</h2>
        <mat-card>
            <mat-card-content class="interlock-details">
                <div style="text-align: center">
                    <mat-icon (click)="toggleIsExpandable()" class="expandedIcon">
                        expand_circle_down
                    </mat-icon>
                </div>
                <div style="display: flex; flex-direction: column">
                    <div class="case-details-border">&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
                <div style="flex:1">
                    <div class="interlockDetailRow">
                        <div>
                            <label>Assignment Date</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Client Type</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Rehab Activity</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Client Paid?</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                    </div>
                    <div class="interlockDetailRow caseborder">
                        <div>
                            <label>Stream</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Decision</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Decision Date</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="list top-padding">
        <h2>Ignition Interlock</h2>
        <mat-card>
            <mat-card-content class="interlock-details">
                <div class="interlockDetailRow">
                    <div>
                        <label>I/I Activity</label>
                        <div>
                            <b>TEST</b>
                        </div>
                    </div>

                    <div>
                        <label>Term (months)</label>
                        <div>
                            <b>TEST</b>
                        </div>
                    </div>

                    <div>
                        <label>Install Date</label>
                        <div>
                            <b>TEST</b>
                        </div>
                    </div>

                    <div>
                        <label>Completion Date</label>
                        <div>
                            <b>TEST</b>
                        </div>
                    </div>
                    <div>
                        <label>Client Paid?</label>
                        <div>
                            <b>Test</b>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>