.submissions {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  gap: 100px;
}
.submissionRequirement {
  display: flex;
  width: 100%;
}

.closedCaseContent {
  display: flex;
  flex-direction: row;
}

.caseDetailRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 32px;
  padding-bottom: 24px;
  align-content: flex-start;
}

.caseDetailRow > div {
  flex-basis: 220px;
}

.mat-mdc-card {
  border: 1px solid gray;
   box-shadow: none !important;
   margin: 30px 0 30px 0;
   padding: 24px;
   .mat-mdc-card-header {
     padding-top: 12px;
 
     .mat-mdc-card-header-text {
       width: 100%;
       vertical-align: middle;
     }
   }
}

.expandedIcon{
  transform: scale(1.5);
  color: #003366;
  width: 50px;
}

.open {
  background-color: #f1f1f3;
  border: 1px solid #003366;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .submissions{
    display: block;
  }
}
