<div class="container">
  <div class="list">
    <h2>Collection Notice</h2>
  </div>
  <p>
    RoadSafetyBC (RSBC) will collect your personal information for
    the purpose of providing you with access to the Driver Portal in accordance
    with section 26(c) of the <i>Freedom of Information and Protection of Privacy
      Act</i> (FoIPPA). RSBC will also collect the information as per section 26(e) of FoIPPA and will share this
    information with RoadSafetyBC’s Driver Medical Fitness Program in order to determine your medical fitness to drive.
    Should you have any questions about the collection, use, or disclosure of personal information, please contact the
    RSBC Program Specialist at
    PO BOX 9254 STN PROV GOVT, VICTORIA, BC, V8W 9J2 or by phone toll free at 1-855-387-7747.
  </p>
  <div>
    <label>
      <input type="checkbox" #confirmed [formControl]="acceptControl" />I agree
      to the collection notice terms
    </label>
  </div>

  <div style="padding: 24px">
    <button
      mat-flat-button
      [disabled]="!confirmed.checked"
      routerLink="/create-profile"
      class="acceptButton"
    >
      Accept and Continue
    </button>
  </div>
</div>
