<div class="container">
  <div class="list">
    <h2>Collection Notice</h2>
  </div>
  <p>
    Example text: RoadSafetyBC (RSBC) will collect your personal information for
    the purpose of providing you with access to the Driver Portal in accordance
    with section 26(c) of the Freedom of Information and Protection of Privacy
    Act (FoIPPA). RSBC will also collect the information as per section 26(e) of
    FoIPPA in order to evaluate the Driver Medical Fitness program. Should you
    have any questions about the collection, use, or disclosure of personal
    information, please contact the RSBC Program Specialist at ADDRESS or by
    phone toll free at 1-800-123-1234.
  </p>
  <div>
    <label>
      <input type="checkbox" #confirmed [formControl]="acceptControl" />I agree
      to the collection notice terms
    </label>
  </div>

  <div style="padding: 24px">
    <button
      [disabled]="!confirmed.checked"
      routerLink="/create-profile"
      class="acceptButton"
    >
      Accept and Continue
    </button>
  </div>
</div>
