<div mat-dialog-title class="dialog-title">
  <h1 class="title">Claim/Unclaim DMER</h1>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="modal-content">
    <b
      >If you would like to open this review and its owner is a member of your
      Endorsement Network, please close this view and click “Launch DMER”
    </b>
  </div>
  <div>
    <p>
      This review is currently assigned to: USER Name, and they are in your
      network.
    </p>

    <ul>
      <li>
        Your Role is : Practitioner, and you are eligible to CLAIM or ASSIGN.
      </li>
      <li>
        Your Role is : (Not Practitioner), and you are eligibile to ASSIGN.
      </li>
    </ul>
  </div>
  <div>
    <p>
      <b
        >Note that reassigning this review to any new user will reset its
        contents; review contents may not be shared between claimants.</b
      >
    </p>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Assign Review To</mat-label>
      <mat-select [(value)]="selectedPractitioner">
        @for (practitioner of practitioners; track practitioner.userId) {
          <mat-option [value]="practitioner.loginId">{{ practitioner.firstName + " " + practitioner.lastName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <label for="check-box">
      <input type="checkbox" #confirmed id="check-box" />
      “I would like to remove my claim"
    </label>
  </div>
  <div class="action-buttons">
    <button mat-flat-button class="primaryButton" (click)="onAssignDmer()">
      Assign DMER
    </button>
    <br />
    <button mat-flat-button class="primaryButton" (click)="onUnclaimDmer()" [disabled]="!confirmed.checked">
      Unclaim DMER
    </button>
  </div>
</div>
