<div class="definationCard">
  Listed below are the definintions for the various submission types.
  <div class="definationContent">
    <ul>
      <li><b>Diabetic Package – </b>Text to come</li>
      <li><b>Fax-Medical Rationale – </b>Text to come</li>

      <li><b>DMER – </b> Driver's Medical Examination Report</li>
      <li><b>EVF – </b> Text to come</li>
      <li><b>Diabetic Driver Questionnaire – </b> Text to come</li>
      <li><b>ERA Results – </b> Enhanced Road Assessment Results</li>
      <li><b>VFT – </b> Visual Field Test</li>
      <li><b>PDR – </b>Priority Doctor's Report</li>
      <li><b>Unsolicited Report of Concern– </b> Text to come</li>
      <li><b>Specialist Report – </b> Functional Driving Evaluation Report</li>
      <li><b>Diabetic Doctor Report– </b> Text to come</li>
      <li><b>Release of Info Request – </b> Text to come</li>
      <li><b>ICBC Re-exam – </b> Road Test</li>
      <li><b>Invoice – </b> Text to come</li>
      <li><b>Notice To Cancel – </b> Text to come</li>
      <li><b>Letter Out– </b> Text to come</li>
      <li><b>Restriction Reconsideration – </b> Text to come</li>
    </ul>
  </div>
</div>
