[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn
[dn]
C = CA
ST = BC
L = Burnaby
O = Quartech
OU = DMFT
emailAddress = jebb.burditt@quartech.com
CN = localhost
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = Localhost - Medical Practitioner
