<div class="page-desc">
  <div class="container">
    <h1>How To Obtain A DMER Case ID</h1>
  </div>
</div>

<div class="case-assistance">
  <div>
    Please see options below to assist the patient in obtaining the DMER Case
    ID:
  </div>
  <b
    ><ul>
      <li>Contact a household member or trusted person</li>
    </ul></b
  >
  <div class="case-content">
    Perhaps there is someone the patient can contact by phone, text or email to
    help them obtain their DMER Case ID.
  </div>
  <div class="contact">
    <b
      ><ul>
        <li>
          Call
          <a
            href="https://www2.gov.bc.ca/gov/content/transportation/driving-and-cycling/roadsafetybc/contact"
            target="_blank"
            >RoadSafetyBC</a
          >
        </li>
      </ul></b
    >
    <div class="case-content">
      If time permits: <b>PHONE/CALL BACK WAIT TIMES CAN BE LENGTHY</b>
      <ul>
        <li>
          Patient can call RSBC and obtain their DMER Case ID over the phone @
          ###-###-#### <br />
          <b>NOTE:</b> The patient is required to validate themselves on the
          phone with RSBC,
          <b>
            a medical professional is unable to do this on the patient's
            behalf.</b
          >
        </li>
      </ul>
    </div>
  </div>
  <div >
    <b
      ><ul>
        <li>Call <a href="https://www.icbc.com/about-icbc/contact-us/Pages/default.aspx " target="_blank">ICBC</a></li>
      </ul></b
    >
    <div class="case-content">
      If time permits:
      <ul>
        <li>
          Patient can call ICBC and obtain their DMER Case ID over the phone
          <br />
          Toll free in B.C., Canada and the U.S.: 1-800-950-1498 <br/>
          Lower Mainland:604-982-2250 <br/>
          Greater Victoria: 250-978-8300 <br/>
          Other countries:250-978-8300 (We accept collect calls.)<br/>
          <b>NOTE:</b> The patient is required to validate themselves on the phone with ICBC,
          <b
            >a medical professional is unable to do this on the patient's
            behalf.</b
          >
        </li>
      </ul>
    </div>
  </div>
</div>
