<div class="page-desc">
  <div class="container">
    <h1>Unavailable DMER Case ID Assistance</h1>
    <p>Options to help the patient obtain their DMER Case ID, which allows medical professionals to access the Driver's Medical Examination Report (DMER) in the portal.</p>
  </div>
</div>

<div class="case-assistance">
<b>Contact a household member or trusted person</b> <br/>
Perhaps there is someone the patient can contact by phone, text or email to help them obtain their DMER Case ID.   
 <div class="contact">
  <b>Call ICBC</b>  <br/>
  If time permits:
  <ul>
    <li>
      Patient can call ICBC and obtain their DMER Case ID over the phone @ ### ### ####. <br/>
      <b>NOTE:</b> The patient is required to validate themselves on the phone with ICBC, <b>a medical professional is unable to do this on the patient's behalf.</b>
    </li>
  </ul>
 </div>

 <div class="contact">
  <b>Call RoadSafetyBC</b>  <br/>
  If time permits: <b>PHONE / CALL BACK WAIT TIMES CAN BE LENGTHY</b>
  <ul>
    <li>
      Patient can call RSBC and obtain their DMER Case ID over the phone @ ###-###-#### <br/>
      <b>NOTE:</b> The patient is required to validate themselves on the phone with RSBC, <b> a medical professional is unable to do this on the patient's behalf.</b>

    </li>
  </ul>
 </div>
</div>
