<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
  <h1 class="title">Add Association</h1>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="dialog-content">
  <form>
    <div fxLayout="row">
      <div fxflex style="width: 100%">
        <label class="form-label"
          >Medical Team Member Email Address</label
        ><br />
        <mat-form-field appearance="outline">
          <input matInput name="email" placeholder="Email Address " />
        </mat-form-field>
      </div>
    </div>
    <div>
      <label class="form-label"
        >What is the role of this individual?</label
      >
      <mat-radio-group aria-label="Select an option"  class="role-radio-group">
        <mat-radio-button value="1">Medical Office Manager</mat-radio-button>
        <mat-radio-button value="2">Medical Office Assistant</mat-radio-button>
      </mat-radio-group>
      
    </div>
    <div>
        <p><b> What role should I assign to a user?</b></p>
        <p><b>Medical Office Manager (MOM):</b> : When you associate your profile with a users as an MOM role, you are allowing that MOM to create MOA associations on your behalf.  A MOM can also start an eDMER for you and the patient as well as input visual acuity values as needed.</p>
        <p><b>Medical Office Assistant (MOA):</b> A MOA can start an eDMER for you and the patient as well as input visual acuity values as needed.</p>
    </div>

  </form>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" (click)="onRequestAssociation()">
    Invite
  </button>
  <br />
  <button mat-button mat-dialog-close color="primary" (click)="onCancel()">
    Cancel
  </button>
</div>
