<div class="definationCard">
  Find below the various types of decision outcomes
  <div class="definationContent">
    <ul>
      <li><b>Fit to Drive – </b>Driver is fit to drive</li>
      <li><b>Unfit to Drive – </b> Driver is not fit to drive</li>
      <li>
        <b>FDE Referral – </b> Driver has been referred for a Functional Driving
        Evaluation (FDE)
      </li>
      <li><b>Non-comply – </b> Driver has not complied to requirements</li>
      <li><b>Deceased –</b> Associated Driver is deceased</li>
      <li>
        <b>No Action taken –</b> Case has been reviewed and no action is
        required
      </li>

      <li>
        <b>Voluntary Surrender - </b>All Privileges indicates the driver has
        voluntarily chosen to surrender his/her licence class, rather than
        complete the DMER or other fitness requirement. If they want to
        re-licence, he/she must first complete the outstanding requirement.
      </li>
    </ul>
  </div>
</div>
