.dashboard-icon {
  float: left;
  width: 70px;
  margin-right: 30px;
}

.search {
  .mat-card-header {
    padding-left: 10px;

    .mat-icon {
      height: auto;
    }
  }

  .mat-card-content {
    width: 100%;

    .form-label {
      font-family:"BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
      font-weight:700;
      font-style:normal;
      font-size: 16px;
    }

    form {
      width: 100%;
      padding: 30px;
      display: flex;
      flex-flow: row;
      justify-content: stretch;
      align-items: center;
    }
    .search-input {
      width: 845px;
    }

    .search-button {
      margin-left: 50px;
      width: 20%;
      font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
    }
  }
}


.dmer-table {
  width: 100%;
  .dmer-table-header {
    background-color: #3f598a;

    td {
      color: #ffffff;
      font-size: larger;
    }
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  tr:nth-child(even) {
    background-color: #e0e0e0;
  }
}


.list {
  h2 {
    font-weight: bold;
    color: #003366;
    font-size: 31px;
    border-left: 3px solid #fcba19;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    padding-left: 13px;
    font-size: 18px;
    line-height: 1.6;
  }

}

.cases-input{
  color: #003366;
  width:350px;
}

.filter-icon{
  color: #003366;
  margin-left:50px; 
  margin-right: 3px; 
  vertical-align: middle
}

.cases-filter{
  color: #003366;
  width:300px;
  margin-left: 10px;
}


