<ngx-spinner
  name="apiLoadingSpinner"
  type="ball-spin"
  [fullScreen]="true"
  bdColor="rgba(0,0,0,0.8)"
  color="#fff"
>
  <p style="color: #fff">Loading...</p>
</ngx-spinner>

<ng-container *ngIf="!isLoading">
  <header style="position: fixed; width: 100%; z-index: 2">
    <app-header [profileName]="profileName" (logout)="onLogout()"></app-header>
  </header>
  <nav style="position: fixed; width: 100%; z-index: 1; top: 100px">
    <app-nav-menu
      *ngIf="loginService.isLoggedIn() && loginService.userProfile?.driverId"
    ></app-nav-menu>
  </nav>
  <main style="position: relative; top: 200px">
    <router-outlet></router-outlet>
  </main>
  <footer style="position: relative; top: 200px">
    <app-footer [versionInfo]="versionInfo"></app-footer>
  </footer>
</ng-container>
