<div class="page-desc">
  <div class="container">
    <h1>Portal Dashboard</h1>
    <p>
      The portal lets you easily view your cases, review their status, and
      provide necessary documents when required by navigating through above
      tabs.
    </p>
  </div>
</div>

<div class="container">
  <div class="list">
    <div class="recentCase">
      <div><h2>Most Recent Case</h2></div>

      <div>
        Unsure of what a term means?
        <a href="#" (click)="onClick($event, 'definitions')"
          >View definitions</a
        >
        at the bottom of this page.
      </div>
    </div>

    <app-shared-recent-case [caseManagementService]="caseManagementService" [portal]="PortalsEnum.DriverPortal"></app-shared-recent-case>

    <div class="list" id="definitions">
      <h2>Definitions</h2>
      <div class="accordion-btn-container">
        <a class="accordion-btn show-btn" (click)="accordion.openAll()"
          >Expand All</a
        >
        <span class="accordion-bar">&nbsp;|&nbsp;</span>
        <a class="accordion-btn hide-btn" (click)="accordion.closeAll()"
          >Collapse All</a
        >
      </div>
      <div style="padding-bottom: 30px">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Case Type
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-case-type></app-case-type>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Case Status
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-case-status></app-case-status>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                DMER Type
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-dmer-type></app-dmer-type>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Decision outcome
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-decision-outcome></app-decision-outcome>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Eligible License Class
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-eligible-license-class></app-eligible-license-class>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Submission Type</mat-panel-title
              >
            </mat-expansion-panel-header>
            <app-submission-type></app-submission-type>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Document subtype</mat-panel-title
              >
            </mat-expansion-panel-header>

            <div>Upwards of 90 subtypes</div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Submission Status</mat-panel-title
              >
            </mat-expansion-panel-header>
            <app-submission-status></app-submission-status>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Letter Topic</mat-panel-title
              >
            </mat-expansion-panel-header>
            <app-letter-topic></app-letter-topic>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
