.title {
    display: flex;
    justify-content: space-between;
     padding: 15px;
    //border-bottom: solid 1px gray;
  }

  .closeIcon{
    transform: scale(1);
  }
  .mat-dialog-content {
    height: initial;
    overflow: initial;
  }
  
  .actionButtons{
    display: flex;
    justify-content: space-evenly;
  }

  .primaryButton {
    border-width: 0px;
    width: 123px;
    height: 49px;
    font-family: "BC Sans Bold", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    color: #f2f2f2;
    background-color: #003366;
  }
  
  .cancelButton {
    border-width: 0px;
    width: 123px;
    height: 48px;
    font-family: "BC Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
  }