.title {
    display: flex;
    justify-content: space-between;
     padding: 15px;
    //border-bottom: solid 1px gray;
  }

  .closeIcon{
    transform: scale(1);
  }
  .mat-dialog-content {
    height: initial;
    overflow: initial;
  }
  
  .actionButtons{
    display: flex;
    justify-content: space-evenly;
  }