<div mat-dialog-title class="title">
    <h1>Add Comment</h1>
    <button mat-icon-button aria-label="Close" mat-dialog-close>
        <mat-icon class="closeIcon">close</mat-icon>
      </button>
</div>
<mat-dialog-content>
    <mat-form-field>
        <textarea matInput maxlength="200"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="actionButtons">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary">Send</button>
</mat-dialog-actions>
