<div mat-dialog-title class="title">
    <h1>Add Comment</h1>
    <button mat-icon-button aria-label="Close" mat-dialog-close>
        <mat-icon class="closeIcon">close</mat-icon>
      </button>
</div>
<mat-dialog-content>
    <form>
        <mat-form-field>
            <textarea matInput maxlength="2000" [formControl]="commentsForm.controls.commentText"></textarea>
            @if(commentsForm.controls.commentText.getError("required")){
                <mat-error>This Field is required</mat-error>
            }
        </mat-form-field>
    </form>
    
</mat-dialog-content>
<mat-dialog-actions class="actionButtons">
    <button class="cancelButton" mat-flat-button mat-dialog-close>Cancel</button>
    <button class="primaryButton" mat-flat-button (click)="AddComment()">Send</button>
</mat-dialog-actions>
