<!-- Driver Details -->

<div class="container">

    <div class="list top-padding">
        <h2>Driver Details</h2>
        <mat-card>
            <mat-card-content class="driver-details">
                <div style="flex: 1">
                    <div class="caseDetailRow">
                        <div>
                            <label>Driver Status</label>
                            <div>
                                <b>{{driverDetails.masterStatusCode}}</b>
                            </div>
                        </div>

                        <div>
                            <label>Class</label>
                            <div>
                                <b>{{driverDetails.licenceClass}}</b>
                            </div>
                        </div>

                        <div>
                            <label>Licence Expiry</label>
                            <div>
                                <b>{{driverDetails.licenceExpiryDate  |  date:'yyyy-MM-dd':'UTC'}}</b>
                            </div>
                        </div>

                        <div>
                            <label>Restrictions</label>
                            <div>
                                <b>{{driverDetails.restrictionCodes}}</b>
                            </div>
                        </div>
                        <div>
                            <label>Next Programmed Medical</label>
                            <div>
                                <b>TBD</b>
                            </div>
                        </div>
                    </div>

                    <div class="caseDetailRow2 caseBorder">
                        <div>
                            <label> Gender</label>
                            <div>
                                <b>{{driverDetails.sex}}</b>
                            </div>
                        </div>
                        <div>
                            <label>Birth Date</label>
                            <div>
                                <b>{{driverDetails.birthDate  | date:'yyyy-MM-dd':'UTC'}}</b>
                            </div>
                        </div>
                        <div>
                            <label>Address</label>
                            <div>
                                <b>{{driverDetails.addressLine1}} {{driverDetails.city}}, {{driverDetails.province}}, {{driverDetails.postal}}</b>
                            </div>
                        </div>
                        <div>
                            <label>Height</label>
                            <div>
                                <b>{{driverDetails.height}} cm</b>
                            </div>
                        </div>
                        <div>
                            <label>Weight</label>
                            <div>
                                <b>{{driverDetails.weight}} kg</b>
                            </div>
                        </div>
                        <div>
                            <label>Keyword</label>
                            <div>
                                <b>{{driverDetails.securityKeyword}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="list top-padding">
        <h2>XS Status Code</h2>
                <mat-table [dataSource]="xsStatusDataSource" class="mat-elevation-z8 table-padding">
                    <ng-container matColumnDef="expandedStatus">
                        <th mat-header-cell *matHeaderCellDef> Code </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.expandedStatus}}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="newExpandedStatus">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.newExpandedStatus}}</b> </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="xsStatusColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: xsStatusColumns;"></tr>
                </mat-table>
    </div>
    <div class="list top-padding" style="padding-bottom: 32px;">
        <h2>MXM Information</h2>

                <mat-table [dataSource]="mxmDataSource" class="mat-elevation-z8 table-padding">
                    <ng-container matColumnDef="medicalIssueDate">
                        <th mat-header-cell *matHeaderCellDef> Issue Date </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.medicalIssueDate | date:'yyyy-MM-dd':'UTC'}}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="issuingOffice">
                        <th mat-header-cell *matHeaderCellDef> Issued By </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.issuingOffice}} - {{element.issuingOfficeDescription}}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="physicianGuideNumber">
                        <th mat-header-cell *matHeaderCellDef> Physician's Guide </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.physicianGuideNumber}}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="medicalExamDate">
                        <th mat-header-cell *matHeaderCellDef> Exam Date </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.medicalExamDate | date:'yyyy-MM-dd':'UTC'}}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="receivedDate">
                        <th mat-header-cell *matHeaderCellDef> Received Date </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.medicalExamDate |  date:'yyyy-MM-dd':'UTC'}}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="medicalDisposition">
                        <th mat-header-cell *matHeaderCellDef> Disposition </th>
                        <td mat-cell *matCellDef="let element"><b>{{element.medicalDisposition}} - {{element.medicalDispositionDescription}}</b></td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="mxmColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: mxmColumns;"></tr>
                </mat-table>
    </div>
</div>