<!-- Driver Details -->

<div class="container">

    <div class="list top-padding">
        <h2>Driver Details</h2>
        <mat-card>
            <mat-card-content class="driver-details">
                <div style="flex: 1">
                    <div class="caseDetailRow">
                        <div>
                            <label>Driver Status</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Class</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Licence Expiry</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Restrictions</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Next Programmed Medical</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                    </div>

                    <div class="caseDetailRow caseBorder">
                        <div>
                            <label> Gender</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Birth Date</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Address</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Height</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Weight</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Keyword</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="list top-padding">
        <h2>XS Status Code</h2>
        <mat-card>
            <mat-card-content class="driver-details">
                <div style="flex: 1">
                    <div class="caseDetailRow">
                        <div>
                            <label> Code</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Description</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="list top-padding">
        <h2>MXM Information</h2>
        <mat-card>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
</div>