.driver-details-card {
    margin-top: 0px;
    margin-bottom: 0px
}

.driver-details {
    display: flex;
    justify-content: space-evenly;
    line-height: 24px;
}

.top-padding {
    padding-top: 32px;
}

.driver-details {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 24px;
}

.caseDetailRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 150px;
    line-height: 32px;
    padding-bottom: 24px;
  }

  .caseDetailRow2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    line-height: 32px;
    padding-bottom: 24px;
  }

  .caseDetailRow2 > div {
    flex: 1;
    min-width: 0;
  }

   .caseBorder{ 
    border-top: 2px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .table-padding{
    padding: 24px;
  }


  
@media only screen and (max-width: 896px) {}