<!-- Driver Details -->

<div class="container">

    <div class="list top-padding">
        <h2>Driver Details</h2>
        <mat-card>
            <mat-card-content class="driver-details">
                <div style="flex: 1">
                    <div class="caseDetailRow">
                        <div>
                            <label>Driver Status</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Class</label>
                            <div>
                                <b>{{driverDetails.licenceClass}}</b>
                            </div>
                        </div>

                        <div>
                            <label>Licence Expiry</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Restrictions</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Next Programmed Medical</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                    </div>

                    <div class="caseDetailRow caseBorder">
                        <div>
                            <label> Gender</label>
                            <div>
                                <b>{{driverDetails.sex}}</b>
                            </div>
                        </div>
                        <div>
                            <label>Birth Date</label>
                            <div>
                                <b>{{driverDetails.birthDate}}</b>
                            </div>
                        </div>
                        <div>
                            <label>Address</label>
                            <div>
                                <b>{{driverDetails.addressLine1}}</b>
                            </div>
                        </div>
                        <div>
                            <label>Height</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Weight</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                        <div>
                            <label>Keyword</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="list top-padding">
        <h2>XS Status Code</h2>
        <mat-card>
            <mat-card-content class="driver-details">
                <div style="flex: 1">
                    <div class="caseDetailRow">
                        <div>
                            <label> Code</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                        <div>
                            <label>Description</label>
                            <div>
                                <b>Test</b>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="list top-padding">
        <h2>MXM Information</h2>
                <table mat-table [dataSource]="mxmDataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="issuedDate">
                        <th mat-header-cell *matHeaderCellDef> Issue Date </th>
                        <td mat-cell *matCellDef="let element">{{element.issuedDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="issuedBy">
                        <th mat-header-cell *matHeaderCellDef> Issue By </th>
                        <td mat-cell *matCellDef="let element">{{element.issuedBy}} </td>
                    </ng-container>
                     <ng-container matColumnDef="physiciansGuide">
                        <th mat-header-cell *matHeaderCellDef>Physician's Guide </th>
                        <td mat-cell *matCellDef="let element">{{element.physiciansGuide}} </td>
                    </ng-container>
                     <ng-container matColumnDef="examDate">
                        <th mat-header-cell *matHeaderCellDef>Exam Date </th>
                        <td mat-cell *matCellDef="let element">{{element.examDate}} </td>
                    </ng-container>
                     <ng-container matColumnDef="recvdDate">
                        <th mat-header-cell *matHeaderCellDef>Recvd Date </th>
                        <td mat-cell *matCellDef="let element">{{element.recvdDate}} </td>
                    </ng-container>
                     <ng-container matColumnDef="disposition">
                        <th mat-header-cell *matHeaderCellDef>Physician's Guide </th>
                        <td mat-cell *matCellDef="let element">{{element.disposition}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
    </div>
</div>