// .closedCaseContent {
//   display: flex;
//   //gap: 70px;
//   flex-wrap: wrap;
// }

// .closedCaseContent > div:first-child {
//   border-right: 2px solid grey;
// }

// .closedCaseContent > div {
//   flex: 1 1 120px;
//   padding-right: 24px;
// }

.caseDetailRow {
  display: flex;
  justify-content: start;
  gap: 180px;
  line-height: 32px;
}

.closedCaseContent {
  display: flex;
  flex-direction: row;
}

.row1 {
  width: 20%;
}

.row2 {
  width: 80%;
}
