<div class="container">
  <div class="list">
    <h2>Most Recent Case</h2>
  </div>
  <app-recent-case></app-recent-case>

  <div class="list">
    <h2>Closed Cases</h2>

    <div>
      <mat-card *ngFor="let closedCase of closedCaseDetails">
        <mat-card-content class="closedCaseContent">
          <div class="row1">
            <mat-icon (click)="toggleisExpandable('1')">
              expand_circle_down
            </mat-icon>
          </div>
          <div style="border-left: 2px solid grey"></div>
          <div class="row2">
            <div class="caseDetailRow">
              <div>
                <label>Created Date</label>
                <div>
                  <b>{{ closedCase?.openedDate | date : "longDate" }}</b>
                </div>
              </div>

              <div>
                <label>Case Type</label>
                <div>
                  <b>{{ closedCase?.caseType }}</b>
                </div>
              </div>
              <div>
                <label>Decision Outcome</label>
                <div>
                  <b>{{ closedCase?.latestDecision }}</b>
                </div>
              </div>
            </div>

            <div
              class="caseDetailRow"
              *ngIf="isExpanded['1']"
              style="
                border-top: 2px solid gray;
                padding-top: 20px;
                padding-bottom: 20px;
              "
            >
              <div>
                <label> Decision date </label>
                <div>
                  <b>{{ closedCase?.decisionDate | date : "longDate" }}</b>
                </div>
              </div>

              <div>
                <label>Eligible License Class</label>
                <div>
                  <b>{{ closedCase?.eligibleLicenseClass }}</b>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="list">
    <h2>Definitions</h2>
    <div class="accordion-btn-container">
      <a class="accordion-btn show-btn" (click)="accordion.openAll()"
        >Expand All</a
      >
      <span class="accordion-bar">&nbsp;|&nbsp;</span>
      <a class="accordion-btn hide-btn" (click)="accordion.closeAll()"
        >Collapse All</a
      >
    </div>
    <div style="padding-bottom: 30px">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Case Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-type></app-case-type>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Case Status
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-case-status></app-case-status>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              DMER Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-dmer-type></app-dmer-type>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Decision outcome
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-decision-outcome></app-decision-outcome>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="accordian-Title">
              Eligible License Class
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-eligible-license-class></app-eligible-license-class>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
