// .closedCaseContent {
//   display: flex;
//   //gap: 70px;
//   flex-wrap: wrap;
// }

// .closedCaseContent > div:first-child {
//   border-right: 2px solid grey;
// }

// .closedCaseContent > div {
//   flex: 1 1 120px;
//   padding-right: 24px;
// }

.caseDetailRow {
  display: flex;
  justify-content: start;
  gap: 180px;
  line-height: 32px;
}

.closedCaseContent {
  display: flex;
  flex-direction: row;
}

.row1 {
  min-width: 100px;
}

.row2 {
  width: auto;
  padding-left: 24px;
}

.mat-mdc-card {
  border: 1px solid gray;
  box-shadow: none !important;
  margin: 30px 0 30px 0;
  padding: 32px;
  margin-bottom: 24px;

  .mat-mdc-card-header {
    padding-top: 12px;

    .mat-mdc-card-header-text {
      width: 100%;
      vertical-align: middle;
    }
  }
}
