<div class="container">
  <div class="list">
    <div class="recentCase">
      <h2>Most Recent Case</h2>
      <app-shared-quick-links [portal]="PortalsEnum.DriverPortal"></app-shared-quick-links>
    </div>
  </div>

  <div>
    <app-shared-recent-case [caseManagementService]="caseManagementService" [portal]="PortalsEnum.DriverPortal"></app-shared-recent-case>
  </div>

  <div class="list">
    <h2>Closed Cases</h2>
    <div>
      <mat-card
        *ngFor="let closedCase of closedCaseDetails"
        [ngClass]="{
          open: closedCase.caseId && isExpanded[closedCase.caseId]
        }" >
        <mat-card-content class="closedCaseContent">
          <div style="text-align: center">
            <mat-icon
              (click)="toggleIsExpandable(closedCase.caseId)"
              class="expandedIcon"
            >
              expand_circle_down
            </mat-icon>
          </div>
          <div style="display: flex; flex-direction: column">
            <div class="case-details-border">&nbsp;</div>
            <div>&nbsp;</div>
          </div>
          <div style="flex: 1">
            <div class="caseDetailRow">
              <div>
                <label>Created Date</label>
                <div>
                  <b>{{ closedCase?.openedDate | date : "longDate" }}</b>
                </div>
              </div>

              <div>
                <label>Case Id</label>
                <div>
                  <b>{{ closedCase?.idCode }}</b>
                </div>
              </div>

              <div>
                <label>Case Type</label>
                <div>
                  <b>{{ closedCase?.caseType }}</b>
                </div>
              </div>

              <div>
                <label>Decision Outcome</label>
                <div>
                  <b>{{ closedCase?.latestDecision }}</b>
                </div>
              </div>
            </div>

            <div
              class="caseDetailRow"
              *ngIf="closedCase.caseId && isExpanded?.[closedCase.caseId]"
              style="
                border-top: 2px solid grey;
                padding-top: 20px;
                padding-bottom: 20px;
              "
            >
              <div>
                <label> Decision date </label>
                <div>
                  <b>{{ closedCase?.decisionDate | date : "longDate" }}</b>
                </div>
              </div>

              <div>
                <label>Eligible License Class</label>
                <div>
                  <b>{{ closedCase?.decisionForClass }}</b>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf ="!isLoading && closedCaseDetails?.length === 0" >
      <mat-card>
        <mat-card-content>
          <b>No Closed Cases found</b>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div
    class="numberOfItems"
    *ngIf="closedCaseDetails && closedCaseDetails.length > 0"
  >
    Showing {{ closedCaseDetails.length }} of
    {{ closedCaseDetails.length }} records
  </div>
</div>
