<div class="container">
  <div class="search">
    <div class="list" style="min-width: 720px; flex-basis: 60%;">
      <h2>Driver medical fitness</h2>
      <mat-card>
        <mat-card-content>
          <form #searchForm="ngForm">
            <div class="driver">
              <b>Driver Look up</b>
            </div>
            <div class="search-content">
              <div class="driver-lookup">
                <div>
                  <label class="form-label">Driver's Licence Number</label>
                  <div>
                    <mat-form-field appearance="outline" class="input-width">
                      <input matInput name="driverLicenseNumber" [(ngModel)]="driverLicenceNumber" required
                        placeholder="Driver Licence Number" />
                      <mat-error *ngIf="searchAttempted && searchForm.controls['driverLicenseNumber']?.hasError('required')">
                        DL is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <label class="form-label">SUR</label>
                  <div>
                    <mat-form-field appearance="outline" class="input-width">
                     <input matInput name="surCode" [(ngModel)]="surcode" required
                        placeholder="Sur Code" />
                      <mat-error *ngIf="searchAttempted && searchForm.controls['surCode']?.hasError('required')">
                        SUR Code is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div style="padding-top: 20px;">
                  <button mat-flat-button class="primaryButton" (click)="search()">Search</button>
                </div>
              </div>

              <div class="search">
                <label></label>
                <span>---- OR ----</span>
              </div>
              <div class="case-lookup">
                <div>
                  <label class="form-label">Case Id</label>
                  <div>
                    <mat-form-field appearance="outline" class="input-width">
                      <input matInput name="caseId" [(ngModel)]="idCode" placeholder="Case Id" />
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <button mat-flat-button class="primaryButton" (click)="searchByCaseId()">Search</button>
                </div>
                <div style="padding-top: 10px;">
                  <span>
                    Missing DMER Case ID?
                    <a> Find out options for the driver to obtain their DMER Case ID. </a>
                  </span>
                </div>
              </div>
            </div>
          </form>
          @if(searchExecuted && noResults){
          <div class="noResults">
            RoadSafetyBC (RSBC) does of any active or historical driver medical fitness or remedial cases assigned to this driver.
          </div>
          }
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div>
    <div>
      <div class="assistance">
        <img class="contact-icon" src="assets/images/contact-icon.svg" alt="" />
        <div>
          <h2 class="large">Need assistance?</h2>
          <p>
            <strong>Contact
              <a href="https://www2.gov.bc.ca/gov/content/transportation/driving-and-cycling/roadsafetybc/contact"
                target="_blank">RoadSafetyBC</a></strong>
            <br />Hours of operation: Monday to Friday from 8am to 4pm
          </p>

          <div class="assistance__contacts">
            <div>
              <img class="email-icon" src="assets/images/phone-icon.svg" alt="Support email address" />
              <a>1-855-387-7747</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>