.footer-clear-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

footer {
  background-color: #003366;
  width: 100%;
  height: 75px;
  border-top: 2px solid #FCBA19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:"BCSans-Regular", "BC Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;

  .site-footer {
    background-color: #003366;
    width: 100%;
    min-height: 60px;
    padding: 20px 0;
    border-top: 3px solid #FCBA19;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .site-footer-links {

    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
  }

  .site-footer-links li {
    margin-bottom: 16px;
    margin-right: 20px;

  }

  .site-footer-links a {

    color: #fff;
    text-decoration: none;

  }

  .site-footer-links a:hover {
    text-decoration: underline;
  }

  .site-footer .container {
    max-width: 760px;
  }

  .footer-divider {
    color: #fff;
    margin-left: 20px;
  }

  @media (min-width: 720px) {
    .footer-divider {
      display: inline-block;
    }
  }
}
