<footer class="site-footer">
  <div class="container">
    <ul class="site-footer-links">
      <li><a href="/">Home</a> <span class="footer-divider">|</span> </li>

      <li><a href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca">About gov.bc.ca</a> <span class="footer-divider">|</span> </li>
      <li><a href="https://www2.gov.bc.ca/gov/content/home/disclaimer">Disclaimer</a> <span class="footer-divider">|</span></li>
      <li><a href="https://www2.gov.bc.ca/gov/content/home/privacy">Privacy</a><span class="footer-divider">|</span></li>

      <li><a href="https://www2.gov.bc.ca/gov/content/home/accessibility">Accessibility</a><span class="footer-divider">|</span></li>
      <li><a href="https://www2.gov.bc.ca/gov/content/home/copyright">Copyright</a><span class="footer-divider">|</span></li>
      <li><a href="https://www2.gov.bc.ca/gov/content/home/get-help-with-government-services">Contact Us</a></li>
    </ul>
  </div>
</footer>
<div class="footer-clear-box">
      Copyright © 2021 Province of British Columbia. All rights reserved.
</div>


