<div class="container">
  <div class="list">
    <div class="submissions">
      <div>
        <p>
          The Document History tab displays the documents and reports that RSBC
          has received regarding your case. Unfortunately, you cannot download a
          copy of these submissions.
        </p>
        <p>
          Please note that if your medical practitioner or you have sent a
          document through fax, it might take a while for it to appear in the
          Document History tab from the Submission Requirements tab.
        </p>
        <p>
          Find out more about <a> how to resubmit a document</a> as well as if
          and <a> how to request a copy of a submission.</a>
        </p>
      </div>
      <div>
        <app-shared-quick-links [portal]="PortalsEnum.MedicalPortal"></app-shared-quick-links>
      </div>
    </div>
  </div>

  <div class="list">
    <div>
      @for (document of filteredDocuments; track document.documentUrl) {
        <mat-card
          [ngClass]="{
            open: document.documentId && isExpanded[document.documentId]
          }"
        >
          <mat-card-content class="caseSubmissions">
            <div style="text-align: center">
              <mat-icon
                class="expandedIcon"
                (click)="toggleIsExpandable(document.documentId)"
              >
                expand_circle_down
              </mat-icon>
            </div>
            <div style="display: flex; flex-direction: column">
              <div class="case-details-border">&nbsp;</div>
              <div>&nbsp;</div>
            </div>
            <div style="flex: 1">
              <div class="caseDetailRow">
                <div>
                  <label>Submission Type</label>
                  <div>
                    <b
                      >{{ document.documentType }}
                      @if (document?.documentSubType) {
                        -
                        {{ document?.documentSubType }}
                      }
                    </b>
                  </div>
                </div>
                <div>
                  <label>Submission Status</label>
                  <div>
                    <b>{{ document.submittalStatus }} </b>
                  </div>
                </div>
                <div>
                  <label>Submission Date</label>
                  <div>
                    <b>{{ getFormattedDate(document.faxReceivedDate) }}</b>
                  </div>
                </div>
              </div>
              @if (document.documentId && isExpanded?.[document.documentId]) {
                <div
                  class="caseDetailRow"
                  style="
                    border-top: 2px solid gray;
                    padding-top: 20px;
                    padding-bottom: 20px;
                  "
                >
                  <div>
                    <label>Created Date</label>
                    <div>
                      <b>{{ getFormattedDate(document.createdOn) }}</b>
                    </div>
                  </div>
                  <div>
                    <label>Description</label>
                    <div>
                      <b>{{ document.description }}</b>
                    </div>
                  </div>
                  <div></div>
                </div>
              }
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
    @if (!isLoading && documents?.length === 0) {
      <div>
        <mat-card>
          <mat-card-content>
            <b>No Document Submission records found for this case</b>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
  @if (documents && documents.length > 0) {
    <div class="numberOfItems">
      Showing {{ filteredDocuments.length }} of {{ documents.length }} records
      <br />
      <a
        *ngIf="filteredDocuments.length < documents.length"
        (click)="viewMore()"
        class="viewMore"
        ><b style="color: #003366">View more records</b>
        <mat-icon class="ViewMoreIcon">expand_circle_down</mat-icon></a
      >
    </div>
  }
</div>
