<mat-card class="list">
  <mat-card-header class="primary">
    <mat-card-title>{{clinicName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container>
      Filter By:
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [formControl]="statusFilter"
                    multiple>          
          <mat-option>
            In Progress
          </mat-option>

          <mat-option>
            Submitted
          </mat-option>

        </mat-select>

      </mat-form-field>

      <mat-form-field>        
        <mat-label>Last Modified By</mat-label>        
        <mat-select [formControl]="lastModifiedByFilter"
                    multiple>
          <mat-option>
            Sample User
          </mat-option>
        </mat-select>

      </mat-form-field>      
    </ng-container>
    <table mat-table #formsList [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> DMER Case ID </th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['../case', row.id]" routerLinkActive="router-link-active"> {{row.title}} </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef> Patient's Name </th>
        <td mat-cell *matCellDef="let row"> {{row.patientName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastUpdatedOn">
        <th mat-header-cell *matHeaderCellDef> Last Date Modified </th>
        <td mat-cell *matCellDef="let row"> {{row.modifiedOn | date}} </td>
      </ng-container>
      <ng-container matColumnDef="lastUpdatedBy">
        <th mat-header-cell *matHeaderCellDef> Last Modified By </th>
        <td mat-cell *matCellDef="let row"> {{row.modifiedBy }} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['title', 'patientName', 'lastUpdatedOn', 'lastUpdatedBy', 'status']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['title', 'patientName', 'lastUpdatedOn', 'lastUpdatedBy', 'status'];">
      </tr>
    </table>
    <div class="loadMoreLink">
      <a href="#">View more records<mat-icon>arrow_drop_down</mat-icon>
      </a>
    </div>
  </mat-card-content>
</mat-card>