.top-nav {
  width: 100%;
  height: 50px;
  padding: 0 !important;

  div {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: center;

    a.mat-flat-button {
      min-width: 250px;
      margin: 0;
      padding: 0;
      height: 100%;
      font-size: 1em;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a.active {
      background-color: #0000007f;
    }
  }
}
