.p {
  font-family: "BC Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
}

.recentCase {
  display: flex;
  justify-content: space-between;
}

.cardSpacing {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mat-mdc-card {
  background-color: #f1f1f3;
  box-shadow: none !important;
  margin: 30px 0 30px 0;
  padding: 32px;

  .mat-mdc-card-header {
    padding-top: 12px;

    .mat-mdc-card-header-text {
      width: 100%;
      vertical-align: middle;
    }
  }

  .mat-mdc-card-content {
    padding: 5px 10px;
  }
  .mat-mdc-card-actions {
    padding: 8px !important;
    margin: 8px !important;
    display: flex;
    flex-flow: row-reverse nowrap;
  }
}

.mat-mdc-card.caseStatus {
  background-color: white;
  border: 1px solid #c3cddc;
}

mat-stepper {
  background-color: rgba(236, 245, 255, 1);
  border-radius: 5px;
  padding: 8px;
}
