.list {
    padding-top: 50px;
    h2 {
      font-weight: bold;
      color: #003366;
      font-size: 31px;
      border-left: 3px solid #fcba19;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    p {
      padding-left: 13px;
      font-size: 18px;
      line-height: 1.6;
    }
  
  }
  
  a.accordion-btn {
    background-color: #f1f1f3;
    border: none;
    padding: 5px 8px;
    color: #1c5a97;
    text-decoration: none !important;
  }
  
  .accordion-bar {
    background-color: #f1f1f1;
    padding: 5px 0px;
  }
  
  .accordion-btn-container{
    padding-bottom: 10px;
  }

  
.panel-header{
    background-color: #f1f1f3;
    border-color: #f1f1f3;
    padding-left: 8px;
    cursor: pointer;
  }

  .accordian-Title{
    font-weight: bold;
    color: #1c5a97;
    max-width: 95%;
    font-size: 16px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .accordian-types{
    margin-bottom: 10px;
    margin-top: 10px;
  }