<div class="page-desc">
  <div class="container">
    <h1>Portal Dashboard</h1>
    <p>
      The portal lets you easily view your cases, review their status, and
      provide necessary documents when required by navigating through above
      tabs.
    </p>
  </div>
</div>

<div class="container">
  <div class="list">
    <div class="recentCase">
      <div><h2>Most Recent Case</h2></div>

      <div>
        Unsure of what a term means?
        <a routerLinkActive="active" [routerLink]="'/definitions'">View definitions</a
        >
        at the bottom of this page.
      </div>
    </div>
    <div class="activeCase">
      <app-shared-recent-case [caseManagementService]="caseManagementService" [portal]="PortalsEnum.DriverPortal"></app-shared-recent-case>
    </div>


  </div>
</div>
