a.accordion-btn {
  background-color: #f1f1f3;
  border: none;
  padding: 5px 8px;
  color: #1c5a97;
  text-decoration: none !important;
}

.accordion-bar {
  background-color: #f1f1f1;
  padding: 5px 0px;
}

.accordion-btn-container {
  padding-bottom: 10px;
}

.panel-header {
  background-color: #f1f1f3;
  border-color: #f1f1f3;
  padding-left: 8px;
  cursor: pointer;
}

.accordian-Title {
  font-weight: bold;
  color: #1c5a97;
  max-width: 95%;
  font-size: 16px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.accordian-types {
  margin-bottom: 10px;
  margin-top: 10px;
}

.p {
  font-family: "BC Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
}

.recentCaseContent {
  display: flex;
  gap: 50px;
}

.cardSpacing {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mat-mdc-card {
  background-color: #f1f1f3;
  box-shadow: none !important;
  margin: 30px 0 30px 0;
  padding: 32px;

  .mat-mdc-card-header {
    padding-top: 12px;

    .mat-mdc-card-header-text {
      width: 100%;
      vertical-align: middle;
    }
  }

  .mat-mdc-card-content {
    padding: 5px 10px;
  }
  .mat-mdc-card-actions {
    padding: 8px !important;
    margin: 8px !important;
    display: flex;
    flex-flow: row-reverse nowrap;
  }
}

.mat-mdc-card.caseStatus {
  background-color: white;
  border: 1px solid #c3cddc;
}

mat-stepper {
  background-color: rgba(236, 245, 255, 1);
  border-radius: 5px;
  padding: 8px;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  margin-bottom: 12px;
}
