<div class="page-desc">
  <div class="container">
    <h1>Portal Dashboard</h1>
    <p>
      The portal lets you easily view your cases, review their status, and
      provide necessary documents when required.
    </p>
  </div>
</div>

<div class="container">
  <div class="list">
    <h2>Most Recent Case</h2>
  </div>

  <app-recent-case></app-recent-case>

  <div class="container">
    <div class="list">
      <h2>Definitions</h2>
      <div style="padding-bottom: 30px">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Case Type
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-case-type></app-case-type>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Case Status
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-case-status></app-case-status>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                DMER Type
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-dmer-type></app-dmer-type>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Decision outcome
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div>
              Find below the various types of decision outcomes
              <ul>
                <li><b>Fit to Drive – </b>Driver is fit to driveext to come</li>
                <li><b>Unfit to Drive – </b> Driver is not fit to drive</li>
                <li>
                  <b>FDE Referral – </b> Driver has been referred for a
                  Functional Driving Evaluation (FDE)
                </li>
                <li>
                  <b>Non-comply – </b> Driver has not complied to requirements
                </li>
                <li><b>Deceased –</b> Associated Driver is deceased</li>
                <li>
                  <b>No Action taken –</b> Case has been reviewed and no action
                  is required
                </li>

                <li>
                  <b>Voluntary Surrender - </b>All Privileges indicates the
                  driver has voluntarily chosen to surrender his/her licence
                  class, rather than complete the DMER or other fitness
                  requirement. If they want to re-licence, he/she must first
                  complete the outstanding requirement.
                </li>
              </ul>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Eligible License Class
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div>
              License classes include:
              <ul>
                <li><b>None – </b>Information to come</li>
                <li>
                  <b>Class 1 - </b> Any motor vehicle or combination of motor
                  vehicles, except motorcycles
                </li>
                <li>
                  <b>Class 2 – </b> All class 5 vehicles plus all public
                  passenger-carrying vehicles
                </li>
                <li>
                  <b>Class 3 – </b>All class 5 vehicles plus any motor vehicle
                  with 3 or more axles, but not public passenger-carrying
                  vehicles; towed vehicles cannot exceed 4600 kg
                </li>
                <li>
                  <b>Class 4 unrestricted –</b>All class 5 vehicles, plus an
                  ambulance, taxi, or school bus, special activity bus with
                  seating capacity of not more than 25 persons, including driver
                </li>
                <li>
                  <b>Class 5/7 –</b>Any 2-axle motor vehicles (other than a
                  motorcycle), motorhomes, construction vehicles, may tow
                  vehicles up to 4600 kg
                </li>

                <li>
                  <b>Class 6 - </b> Motorcycles, all terrain cycles or vehicle
                </li>
              </ul>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                RSBC case assignment</mat-panel-title
              >
            </mat-expansion-panel-header>

            <div>
              There are 4 RSBC case assignment groups:
              <ul>
                <li><b>Client Services Group – </b>Text to come</li>
                <li><b>Case Adjudication Group – </b>Text to come</li>

                <li><b>Case Manager Group – </b> Text to come</li>
                <li><b>Other – </b> Text to come</li>
              </ul>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Submission Type</mat-panel-title
              >
            </mat-expansion-panel-header>

            <div>
              Listed below are the definintions for the various submission
              types.
              <ul>
                <li><b>Diabetic Package – </b>Text to come</li>
                <li><b>Fax-Medical Rationale – </b>Text to come</li>

                <li><b>DMER – </b> Driver's Medical Examination Report</li>
                <li><b>Hearing Report – </b> Text to come</li>
              </ul>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Document subtype</mat-panel-title
              >
            </mat-expansion-panel-header>

            <div>
              There are 4 RSBC case assignment groups:
              <ul>
                <li><b>Client Services Group – </b>Text to come</li>
                <li><b>Case Adjudication Group – </b>Text to come</li>

                <li><b>Case Manager Group – </b> Text to come</li>
                <li><b>Other – </b> Text to come</li>
              </ul>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Submission Status</mat-panel-title
              >
            </mat-expansion-panel-header>

            <div>
              Listed below are the various submissions statuses.
              <ul>
                <li>
                  <b>Open Required – </b>RSBC has requested for a doucment and
                  waiting for submission
                </li>
                <li>
                  <b>Received – </b>RSBC has received this document and it is
                  under review
                </li>

                <li>
                  <b>Rejected – </b>Submitted document has been rejected by
                  RSBC.
                </li>
                <li>
                  <b>Non-comply – </b>Requested document was not submitted by
                  the submittal deadline
                </li>
              </ul>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
              <mat-panel-title class="accordian-Title">
                Letter Topic</mat-panel-title
              >
            </mat-expansion-panel-header>

            <div>
              Find below descriptions of the various letter topics.
              <ul>
                <li><b>Diabetic Package – </b>Text to come</li>
                <li><b>Topic name – </b>Text to come</li>

                <li><b>Topic name – </b> Text to come</li>
              </ul>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
