.container {
  .search {
    .mat-card-header {
      padding-left: 10px;
    }

    .mat-card-content {
      width: 100%;

      form {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-flow: row;
        justify-content: stretch;
        align-items: center;
      }
      .search-input {
        width: 70%;
      }

      .search-button {
        margin-left: 50px;
        width: 20%;
      }
    }
  }

  .list {
    .loadMoreLink {
      margin-top: 10px;
      width: 100%;
      height: 50px;
      text-align: center;
      a {
        display: inline;
        vertical-align: middle;
        .mat-icon {
          margin-left: 5px;
          vertical-align: top;
        }
      }
    }
  }
}
