<div class="page-desc">
  <div class="container">
    <h1>DMER Submission Confirmation</h1>
  </div>
</div>



<div class="dmer-submission">
    <div class="alertbar">
    <div class="alert-toolbar">
        <span>
            <mat-icon class="info-icon">check_circle</mat-icon><b>Driver's Medical Examination Report (DMER) Submission successful.</b><br/>
            Thank you for your submission.  Please see the next steps below outlined for you and your patient.
        </span>
    </div>
</div>
    <div class="list">
        <h2>Next Steps</h2>
    </div>
  <div>
    
      <b>1. REQUIRED: Download DMER PDF file</b><br />
      <div class="dmer">
      Download a copy of this DMER submission for your records and print a copy
      for your patient if requested.
    </div>
    <div class="dmer">
      Due to privacy policies: <br />
      <b
        >YOU WILL NO LONGER HAVE ACCESS TO THIS FILE DOWNLOAD AFTER EXITING THIS
        PAGE
      </b>
    </div>
    <div class="dmer-content">
        <button
          mat-flat-button
          color="primary"
          class="download-button"
        >
          Download DMER
        </button>   
    </div>
</div>
  <div class="dmer-content" >
    
        <b>2.  Amend your submission and/or submit further documentation</b>
 
    <div class="dmer">
        You can submit further information by fax at any time.  This information can include an amendment* to this DMER submission or any updates you believe should <br/>
        be taken into consideration when assessing this driver's ability to drive.
  
    </div>
    <div class="dmer">
    <b>
        Fax to RoadSafetyBC:
    </b> <br/>
    Fax number: 250-952-6888 <br/>
    <b>REQUIRED:</b> Patient’s full name, address and date of birth <br/>
    <b>IF AVAILABLE:</b> Driver's licence number

    </div>
    <div class="footnote">
        * Please be advised that the original e-DMER cannot be altered once submitted. Any additional information must be submitted to RoadSafetyBC by fax.
    </div>
</div>
<div class="dmer-content" >
    
    <b>3.  Check DMER Status</b>

<div class="dmer">
    If you or your patient would like to know the status of this DMER submission:
    <ul>
        <li>
            Log into the Medical Practitioner Portal
        </li>
        <li>
            See DMER table on portal dashboard
        </li>
    </ul>

</div>
</div>
<div class="flex-container">
    <div class="dmer-content">
        <button
          mat-flat-button
          color="primary"
          class="download-button"
          (click)="openConfirmationDialog('dashboard')"
        >
         Back to Dashboard
        </button>   
    </div>
    <div class="dmer-content">
        <button
          mat-flat-button
          (click)="openConfirmationDialog('logout')"
          
        >
          Logout
        </button>   
    </div>
</div>
</div>
