.dmer-submission {
  max-width: 1262px;
  margin: 0 auto;
  padding: 30px;
}
.dmer-content {
  margin-top: 20px;
}

.info-icon {
  vertical-align: middle;
}

.download-button {
  font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.dmer {
  margin-left: 16px;
  margin-top: 20px;
}

.footnote {
  font-size: 12px;
  margin-left: 16px;
  margin-top: 20px;
}

.alertbar {
  display: flex;
  justify-content: space-around;
}

.alert-toolbar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 20px;
  background-color: #d9e7d8;
  border-color: #accbaa;
  color: #234720;
  border-radius: 8px;
}

.list {
  padding-top: 50px;
  h2 {
    font-weight: bold;
    color: #003366;
    font-size: 31px;
    border-left: 3px solid #fcba19;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    padding-left: 13px;
    font-size: 18px;
    line-height: 1.6;
  }
}

.flex-container {
  display: flex;
}
