.form-label {
    font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
  }
  
  .title {
    margin: 0;
  }
  
  .dialog-title{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 1px gray;
  }

  .radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .mat-dialog-content {
    padding: 24px 50px;
  }

  .modal-content{
    padding-top: 24px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .action-buttons {
    padding-top: 12px;
    display: flex;
    gap:12px;
    
  }
  
  ::ng-deep .mat-dialog-container {
    padding: 0;
    overflow: hidden !important;
  }