/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

table {
  border-collapse: collapse;
  border: 1px solid #808080;
}

  table td {
    border: 1px solid #808080;
  }


  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-dialog-actions {
    padding-bottom: 30px;
  }


.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  opacity: 1 !important;
  color:rgb(0, 51, 102) !important;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  background-color: #F2F2F2 !important;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: black;
}  