<div class="definationCard">
  License classes include:
  <div class="definationContent">
    <ul>
      <li><b>None – </b>Information to come</li>
      <li>
        <b>Class 1 - </b> Any motor vehicle or combination of motor vehicles,
        except motorcycles
      </li>
      <li>
        <b>Class 2 – </b> All class 5 vehicles plus all public
        passenger-carrying vehicles
      </li>
      <li>
        <b>Class 3 – </b>All class 5 vehicles plus any motor vehicle with 3 or
        more axles, but not public passenger-carrying vehicles; towed vehicles
        cannot exceed 4600 kg
      </li>
      <li>
        <b>Class 4 unrestricted –</b>All class 5 vehicles, plus an ambulance,
        taxi, or school bus, special activity bus with seating capacity of not
        more than 25 persons, including driver
      </li>
      <li>
        <b>Class 5/7 –</b>Any 2-axle motor vehicles (other than a motorcycle),
        motorhomes, construction vehicles, may tow vehicles up to 4600 kg
      </li>

      <li><b>Class 6 - </b> Motorcycles, all terrain cycles or vehicle</li>
    </ul>
  </div>
</div>
