.top-nav {
  width: 100%;
  padding: 0 !important;
  height: 50px;
  background: inherit;
  background-color: rgba(56, 89, 138, 1);
  border: none;
  color: #ffffff;

  div {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: center;

    div.gethelp {
      width:40%;
    }

    div.gethelp > div {
      width:100%;
    }

    div.gethelp > div > a {
      font-weight:bold;
      color:#003366;
      margin:0 auto;
      background-color:#96c0e6;
      width:100%;
      max-width:260px;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.gethelp > div > a:hover {
      background-color: #F2F2F2;
    }

    a {
      font-family: "BC Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      text-align: center;
      margin-left: 10px;
      margin-right: 20px;
    }

    a:link {
      color: #ffffff;
      text-decoration: none;
    }

    a:visited {
      color: #ffffff;
    }

    a.active {
      font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
      text-decoration-color: rgba(255, 255, 255, 0);
      font-weight: 700;
      text-decoration-style: solid;
      text-decoration: underline;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
}

@media screen {
}
