<div class="container">
  <div class="list">
    <h2>Most Recent Case</h2>
  </div>
  <app-recent-case></app-recent-case>

  <div class="list">
    <h2>Case Documentation</h2>
  </div>

  <mat-tab-group>
    <mat-tab label="Submission Requirements">
      <app-submission-requirements
        [submissionRequirementDocuments]="caseDocuments.submissionRequirements"
      ></app-submission-requirements
    ></mat-tab>
    <mat-tab label="Case Submissions">
      <app-case-submissions
        [caseSubmissionDocuments]="caseDocuments.caseSubmissions"
      ></app-case-submissions>
    </mat-tab>
    <mat-tab label="Letters to Driver">
      <app-letters-to-driver
        [letterDocuments]="caseDocuments.lettersToDriver"
      ></app-letters-to-driver
    ></mat-tab>
  </mat-tab-group>
</div>
