.header {
  margin-bottom: 0;
  height: 75px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: center;

  .bc-logo img {
    margin: 0 10px;
    width: 193px;
    height: 75px;
  }

  .title {
    width: 100%;
  }

  .profile {
    margin: 0 10px;
    max-width: 100px;
  }
}
