<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
  <h1 class="title">Edit Profile</h1>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="dialog-content">
  <form>
    <div fxLayout="row" fxFlexAlign="space-between" fxLayoutGap="24px">
      <div fxFlex>
        <label class="form-label">First Name</label><br />
        <mat-form-field appearance="outline">
          <input
            matInput
            name="firstName"
            [disabled]="true"
            placeholder="First Name"
            [(ngModel)]="data.firstName"
          />
        </mat-form-field>
      </div>
      <div fxFlex>
        <label class="form-label">Last Name</label><br />
        <mat-form-field appearance="outline">
          <input
            matInput
            name="lastName"
            [disabled]="true"
            placeholder="Last Name "
            [(ngModel)]="data.lastName"
          />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxflex style="width: 100%">
        <label class="form-label">Business Name/ Operating as</label><br />
        <mat-form-field appearance="outline">
          <input
            matInput
            name="businessName"
            placeholder="Business Name/ Operating as "
            [(ngModel)]="data.businessName"
          />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxFlexAlign="space-between" fxLayoutGap="24px">
      <div fxFlex>
        <label class="form-label">Practitioner License Number </label><br />
        <mat-form-field appearance="outline">
          <input
            matInput
            name="licenseNumber"
            placeholder="Practitioner License Number "
            [(ngModel)]="data.licenseNumber"
          />
        </mat-form-field>
      </div>
      <div fxFlex>
        <label class="form-label">Licensing Institution</label><br />
        <mat-form-field appearance="outline">
          <input
            matInput
            name="licensingInstitution"
            placeholder="Licensing Institution"
            [(ngModel)]="data.licensingInstitution"
          />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxflex style="width: 100%">
        <label class="form-label">Email Address</label><br />
        <mat-form-field appearance="outline">
          <input
            matInput
            name="email"
            placeholder="Email Address "
            [(ngModel)]="data.emailAddress"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" (click)="onConfirmChanges()">
    Confirm Changes
  </button>
  <br />
  <button mat-button mat-dialog-close color="primary" (click)="onCancel()">
    Cancel
  </button>
</div>
