<div mat-dialog-content>
  <iframe
    #iframe
    [src]="getSourceURL()"
    height="800"
    width="100%"
    title="Demographic Info in CHEFS"
    (load)="iframeLoaded()"
  >
  </iframe>
</div>

<ng-template #warningDialog>
  <div matDialogContent style="margin:40px">
    <b>Warning:</b> only a licenced practitioner can submit the form for final submission, saved the form as a draft.
  </div>
  <!--mat-dialog-actions align="end">
    <button mat-flat-button matDialogClose class="primaryButton">Dismiss</button>
  </mat-dialog-actions-->
</ng-template>
