<div class="page-desc">
  <div class="container">
    <h1>My Profile</h1>
  </div>
</div>
<div class="container">
  <div class="list">
    <h2>My Account</h2>
    <mat-card style="margin-bottom: 24px">
      <mat-card-content class="account-details">
        <div>
          <label>Full Name</label>
          <div>
            <b>{{ fullName }}</b>
          </div>
        </div>
        <div>
          <label>Email</label>
          <div>
            <b>{{ email }}</b>
          </div>
        </div>
        <div>
          <label>Role</label>
          <div>
            <b>{{ role }}</b>
          </div>
        </div>
        <div>
          <div>
            <div>
              <button mat-flat-button class="primaryButton">Manage</button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="list">
    <h2>PIdP Endorsements</h2>
    <div>
      @if (endorsements.length > 0) {
      <mat-card>
        @for (endorsement of endorsements; track endorsement.userId) {
        <mat-card-content class="endorsementeContent">
          <div style="text-align: center">
            <mat-icon (click)="toggleIsExpandable()" class="expandedIcon">
              expand_circle_down
            </mat-icon>
          </div>
          <div style="display: flex; flex-direction: column">
            <div class="endorsement-border">&nbsp;</div>
            <div>&nbsp;</div>
          </div>

          <div style="flex: 1">
            <div class="endorsementRow">
              <div>
                <label>Full Name</label>
                <div>
                  <b>{{ endorsement.firstName + " " + endorsement.lastName }}</b>
                </div>
              </div>
              <div>
                <label>Email</label>
                <div>
                  <b>{{ endorsement.email }}</b>
                </div>
              </div>
              <div>
                <label>Role</label>
                <div>
                  <b>{{ endorsement.role }}</b>
                </div>
              </div>
              <div>
                <div>
                  <div>
                    <button mat-flat-button class="primaryButton">Manage</button>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="endorsementRow"
              style="
                border-top: 2px solid gray;
                padding-top: 20px;
                padding-bottom: 20px;
              "
            >
              <!-- <div>
                <label>Licenses</label>
                <div>
                  <b></b>
                </div>
              </div> -->
            </div>
          </div>
        </mat-card-content>
        }
      </mat-card>
      }
    </div>
  </div>
</div>
