.title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    //border-bottom: solid 1px gray;
  }

  .filter{
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-bottom: solid 1px gray;
  }

  .cancelButton {
    border-width: 0px;
    width: 123px;
    height: 48px;
    font-family: "BC Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .comments{
    display: flex;
    //justify-content: space-around;
  }