<div mat-dialog-title class="title">
  <div>
    <h2>Comments</h2>
  </div>
 <div>
  <button mat-icon-button aria-label="Add Comment" (click)="addComment()">
    <mat-icon>add</mat-icon> 
  </button>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
 </div>
  
</div>
<div>
  <div class="filter">
    <div>Filter-By</div>
    <div>
      <button mat-button aria-label="Filter By system" (click)="filterBySystem()">
        <mat-icon> account_circle</mat-icon> Person
      </button>
      <button mat-button aria-label="Filter By Person" (click)="filterByUser()">
        <mat-icon>devices</mat-icon> System
      </button>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-card *ngFor = "let comments of allComments" style="margin-bottom: 12px;">
    <mat-card-content *ngIf = "comments.origin === filterBy">
      <div>
      {{comments.commentText}}
      </div>
      <div>{{comments.origin}} - {{comments.commentDate | date : "longDate"}}</div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
