<div mat-dialog-title class="title">
  <h2>Comments</h2>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <div class="filter">
    <div>Filter-By</div>
    <div>
      <button mat-button aria-label="Filter By system">
        <mat-icon> account_circle</mat-icon> Person
      </button>
      <button mat-button aria-label="Filter By Person">
        <mat-icon>devices</mat-icon> System
      </button>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-card *ngFor = "let comments of allComments">
    <mat-card-content>
      <div>
      {{comments.commentText}}
      </div>
      <div>{{comments.commentTypeCode}} - {{comments.commentDate}}</div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
