<div mat-dialog-title class="title">
  <div>
    <h2>Comments</h2>
  </div>
 <div>
  <button mat-icon-button aria-label="Add Comment" (click)="addComment()">
    <mat-icon matTooltip="Add Comment">add</mat-icon> 
  </button>
  <button mat-icon-button aria-label="expand-large" (click)="expandLarge()">
    <mat-icon class="largeIcon">tablet</mat-icon> 
  </button>
  <button mat-icon-button aria-label="expand-medium" (click)="expandMedium()">
    <mat-icon class="mediumIcon">tablet</mat-icon> 
  </button>
  <button mat-icon-button aria-label="expand-small" (click)="expandSmall()">
    <mat-icon class="smallIcon">tablet</mat-icon> 
  </button>
  <button mat-icon-button aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
 </div>
  
</div>
<div>
  <div class="filter">
    <div>Filter:</div>
    <div>
      <button mat-button aria-label="All" (click)="filterByAllComments()" [style.background]="!filterBy? '#ddd' : 'none' ">
        All
      </button>
      <button mat-button aria-label="Filter By Person" (click)="filterByUser()" [style.background]="filterBy === CommentOrigin.User ? '#ddd' : 'none' ">
        <mat-icon> account_circle</mat-icon> User
      </button>
      <button mat-button aria-label="Filter By System" (click)="filterBySystem()" [style.background]="filterBy === CommentOrigin.System ? '#ddd' : 'none' ">
        <mat-icon>devices</mat-icon> Auto
      </button>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-card *ngFor = "let comments of filteredComments" style="margin-bottom: 12px;">
    <mat-card-content>
      <div class="comments">  
        <div style="display: flex; flex-direction: column;">
          @if(comments.origin === "User"){
            <mat-icon style="width:75px" matTooltip={{comments.userId}}> account_circle</mat-icon>
          }
          @if(comments.origin === "System"){
            <mat-icon style="width:136px" matTooltip={{comments.userId}}>devices</mat-icon>
          }
          @if(comments.commentText != null && comments.commentText.length >= 100)
          {
              <div >
                <mat-icon mat-button (click)="toggleIsExpandable(comments.commentId)" class="expandedIcon">expand_circle_down</mat-icon>
              </div>   
          }
        </div>
       
      <div>
       <div matTooltip={{comments.commentText}}>
        {{ comments.commentId && isExpanded[comments.commentId] ? comments.commentText: comments.commentText?.substring(0, 100)}}
       </div>
       
        <div>
         @if(comments.commentTypeCode === "W"){
            Portal
         }
         @else {
          RSBC
         }
          
          - {{comments.commentDate | date : "longDate"}}</div>
        </div>
        
      </div>
      
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<div
      class="numberOfItems"
      style="margin-bottom: 32px"
      *ngIf="
        allComments &&
        allComments.length > 0 &&
        filteredComments &&
        filteredComments.length > 0
      "
    >
      Showing {{ filteredComments.length }} of
      {{ allCommentsLength }} records
      <br />
      <a
        *ngIf="filteredComments.length < allCommentsLength"
        (click)="viewMore()"
        class="viewMore"
        ><b style="color: #003366">View more records</b>
        <mat-icon class="ViewMoreIcon">expand_circle_down</mat-icon></a
      >
    </div>



