name: ci-doctors-portal-ui

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    paths:
      - "doctors-portal/src/UI/**"
      - ".github/workflows/ci-doctors-portal-ui.yml"

env:
  IMAGE_NAME: evdoctors-portal-ui
  working-directory: ./
  solution-folder: doctors-portal/src/UI/doctors-portal

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: rlespinasse/git-commit-data-action@v1.x
      - name: Extract Branch Name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Test
        run: |          
          npm install
          npm test --codeCoverage=true --watch=false
        working-directory: ${{env.working-directory}}${{env.solution-folder}}
      - name: Codecov
        uses: codecov/codecov-action@v2
        with:
          # User defined upload name. Visible in Codecov UI
          name: DMF-MEDICAL-PORTAL-UI
          # Repository upload token - get it from codecov.io. Required only for private repositories
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ${{env.working-directory}}${{env.solution-folder}}
          # Flag upload to group coverage metrics (e.g. unittests | integration | ui,chrome)
          flags: unittests
          # Environment variables to tag the upload with (e.g. PYTHON | OS,PYTHON)
          # env_vars: C#
          # Specify whether or not CI build should fail if Codecov runs into an error during upload
          fail_ci_if_error: false

      - name: Build image
        working-directory: ./doctors-portal/src/UI
        run: docker build . --file Dockerfile --tag $IMAGE_NAME
