      .body {
        font-family: Arial, sans-serif;
        background: #f5f7fa;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
      }

      .message-card {
        background: #ffffff;
        text-align: center;
        border-radius: 6px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        border-radius: 20px 20px 20px 20px;

      }

      .header {
        background-color: #003366;
        height: 100px;
        padding: 0 0px;
        border-radius: 20px 20px 0 0;
      }

      .header img {
        width: 193px;
        height: 75px;
        max-height: 175px;
        max-width: 150px;
      }

      .header-title {
        align-items: center;
        padding-top: 40px;
        font-size: 31px;
        font-family: "BCSans-Regular", "BC Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        }

      .content {
        padding: 30px 0px;
      }

      h1 {
        margin-bottom: 1rem;
      }

      p {
        margin: 0.5rem 0;
        color: #444;
      }